{% if fields.reasonForDivorceAdulteryKnowWhen.value == 'Yes' %}
  <tr class="govuk-table__row">
    <th class="govuk-table__cell" scope="row">{{ content.whenDidAdulteryHappen | safe }}</th>
    <td class="govuk-table__cell">{{ fields.reasonForDivorceAdulteryWhenDetails.value }}</td>
    <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.whenDidAdulteryHappen | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
  </tr>
{% endif %}
{% if fields.reasonForDivorceAdulteryKnowWhere.value == 'Yes' %}
  <tr class="govuk-table__row">
    <th class="govuk-table__cell" scope="row">{{ content.whereDidAdulteryHappen | safe }}</th>
    <td class="govuk-table__cell">{{ fields.reasonForDivorceAdulteryWhereDetails.value }}</td>
    <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.whereDidAdulteryHappen | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
  </tr>
{% endif %}
<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">{{ content.whatDoYouKnow | safe }}</th>
  <td class="govuk-table__cell">{{ fields.reasonForDivorceAdulteryDetails.value }}</td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.whatDoYouKnow | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>