<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">{{ content.question | safe }}</th>
  <td class="govuk-table__cell">
    {%- if fields.legalProceedings.value === "Yes" -%}

      {{ content.proceedingsRelated | safe }}

      {%- for legalProceedingRelated in fields.legalProceedingsRelated.value -%}

        {%- if fields.legalProceedingsRelated.value.length > 1 -%}
          {%- if loop.last -%}
            &nbsp;and&nbsp;
          {%- elseif not loop.first -%}
            ,&nbsp;
          {%- endif -%}
        {%- endif -%}

        {{ content[legalProceedingRelated] | safe }}

      {%- endfor -%}.

      {%- if fields.legalProceedingsDetails.value -%}
        <br><br>{{ fields.legalProceedingsDetails.value }}
      {%- endif -%}

    {%- else -%}

      {{ content.no | safe }}

    {%- endif -%}
  </td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.question | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>