{% from "common/components/formElements.html" import radioButton %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}
{% block form %}


    <p class="govuk-body">{{ content.noBenefit | safe }}</p>
    <p class="govuk-body">{{ content.provideAddress | safe }}</p>

    {{ govukWarningText({
        text: content.delayed | safe,
        iconFallbackText: content.warning
    }) }}

    <p class="govuk-body">{{ content.costs | safe }}</p>

    <div class="govuk-form-group">
        <fieldset id="reasonForDivorceAdulteryWishToName" class="govuk-fieldset inline {{ 'govuk-form-group--error' if fields.reasonForDivorceAdulteryWishToName.error }}" id="reasonForDivorceAdulteryWishToName">
            {{ errorsFor(fields.reasonForDivorceAdulteryWishToName) }}
            <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>

            <div class="govuk-radios govuk-radios--inline">
                {{ radioButton(
                    value = 'Yes',
                    label = content.yes,
                    name = 'reasonForDivorceAdulteryWishToName',
                    field = fields.reasonForDivorceAdulteryWishToName,
                    dataTarget = 'wish-to-name-warning',
                    screenReader = content.question
                ) }}
                {{ radioButton(
                    value = 'No',
                    label = content.no,
                    name = 'reasonForDivorceAdulteryWishToName',
                    field = fields.reasonForDivorceAdulteryWishToName,
                    screenReader = content.question
                ) }}
            </div>
        </fieldset>
    </div>

    <div class="govuk-details__text js-hidden govuk-!-margin-bottom-3" id="wish-to-name-warning">
                <p class="govuk-body">
                    {{ content.mustProvideAddress }}
                </p>
    </div>

{% endblock %}
