<tr>
  <th>{{ content.question1.text | safe }}</th>
  <td>{{ fields.reasonForDivorceDecisionDate.value }}</td>
  <td><a class="link" aria-label="{{ content.change }} {{ content.question | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
<tr>
  <th>{{ content.question2.text | safe }}</th>
  <td>{{ fields.reasonForDivorceLivingApartDate.value }}</td>
  <td><a class="link" aria-label="{{ content.change }} {{ content.question | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>