<link href="{{asset_path}}stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<script>
  dataLayer = [];
  dataLayer.push({"language": "en", "event": "Site language"})
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(

  {'gtm.start': new Date().getTime(),event:'gtm.js'}
);var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N6HQ8F6');</script>
<!-- End Google Tag Manager -->

{% if session.caseId %}
<meta name="format-detection" content="telephone=no">
{% endif %}

<!--[if lt IE 9]>
<style>
  div .govuk-radios__item input {
    filter: none;
  }
  body.js-enabled .js-hidden {
    display: block;
    visibility: visible;
  }
</style>
<![endif]-->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe title="GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-N6HQ8F6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
