<link href="{{asset_path}}stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<script>
  dataLayer = [];
  dataLayer.push({"language": "en", "event": "Site language"})
</script>

<!-- Google Tag Manager -->
<!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(-->

<!--  {'gtm.start': new Date().getTime(),event:'gtm.js'}-->
<!--);var f=d.getElementsByTagName(s)[0],-->
<!--  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
<!--  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
<!--})(window,document,'script','dataLayer','GTM-N6HQ8F6');</script>-->
<!-- End Google Tag Manager -->

{% if session.caseId %}
<meta name="format-detection" content="telephone=no">
{% endif %}

{% if features.webchat and session.language == "en" %}
<script src="/webchat/javascript/hmcts-webchat.js"></script>
<script type="text/javascript">
  webchat_init({ // eslint-disable-line
    uuid: 'script_{{ webchat.chatId }}',
    tenant: '{{ webchat.tenant }}',
    channel: 'Divorce',
    stylesheetURL: 'https://' + window.location.hostname + '/webchat/css/hmcts-webchat-gds-v2.css',
    busHandlerURL: 'https://' + window.location.hostname + '/webchat/javascript/hmcts-webchat-busHandler.js',
    btnNoAgents: '/{{ webchat.tenant }}/button_{{ webchat.buttonNoAgents }}/img/logo',
    btnAgentsBusy: '/{{ webchat.tenant }}/button_{{ webchat.buttonAgentsBusy }}/img/logo',
    btnServiceClosed: '/{{ webchat.tenant }}/button_{{ webchat.buttonServiceClosed }}/img/logo',
    chatDownAction: 'showMessage',
    chatLinkFocusable: false,
    textChatDown: '{{ common.chatDown | safe }}',
    textChatClosed: '{{ common.chatClosed | safe }}',
    textChatWithAnAgent: '{{ common.chatWithAnAgent | safe }}',
    textNoAgentsAvailable: '{{ common.noAgentsAvailable | safe }}',
    textAllAgentsBusy: '{{ common.allAgentsBusy | safe }}',
    textChatAlreadyOpen: '{{ common.chatAlreadyOpen | safe }}',
    textAdditional: '{{ common.chatOpeningHours | safe }}',
    gdsMajorVersion: 2
  });
</script>
{% endif %}



<!--[if lt IE 9]>
<style>
  div .govuk-radios__item input {
    filter: none;
  }
  body.js-enabled .js-hidden {
    display: block;
    visibility: visible;
  }
</style>
<![endif]-->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe title="GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-N6HQ8F6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
