<div class="govuk-new-application-cutoff-date-banner">
  <div class="govuk-new-application-cutoff-date-banner__header">
      <h2 class="govuk-new-application-cutoff-date-banner__title">Important</h2>
  </div>

  <div class="govuk-new-application-cutoff-date-banner__content">
    <h4 class="govuk-new-application-cutoff-date-banner__heading__title">
      This service will close at 4pm on 31 March 2022.
    </h4>
    <p class="govuk-new-application-cutoff-date-banner__heading govuk-body-m">
      Submit any saved applications before then - you won't be able to access them after that date.  For new applications, consider waiting until the replacement service launches on 6 April 2022.
    </p>
  </div>
</div>
