<div class="govuk-new-application-cutoff-date-banner">
  <div class="govuk-new-application-cutoff-date-banner__heading">
      <h3 class="govuk-new-application-cutoff-date-banner__heading__content">Important</h3>
  </div>
  <p class="govuk-body-s govuk-new-application-cutoff-date-banner__content">
    Submit your application by 31 March 2022.  If you do not, you'll need to start your application again using our
    new system.  <a class="govuk-link" href="https://www.new-story-url" target="_blank">Read more about the new system</a>
  </p>
</div>
