<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-size-16">{{ common.problemWithThisPage | safe }}</span>
    </summary>
    <div class="govuk-details__text">
        {% if features.webchat %}
            <p class="govuk-heading-s govuk-!-margin-bottom-1" id="ctsc-web-chat-header">{{ common.webChatTitle | safe }}</p>
            <div id="ctsc-web-chat"></div>
        {% endif %}

        <p class="govuk-heading-s govuk-!-margin-bottom-1" >{{ common.emailTitle | safe }}</p>
        <p class="govuk-body">{{ common.emailIfProblems | safe }}<br>{{ common.responseTime }}</p>

        <p class="govuk-heading-s govuk-!-margin-bottom-1" >{{ common.phoneTitle | safe }}</p>
      {% if session.language=='en' %}
        <p class="govuk-body">{{ common.phoneToCallIfProblems | safe }}</p>
      {% else %}
      <p class="govuk-body">0300 303 5171 <br>[CY] Monday To Friday, 8am to 8 pm, Saturday 8am to 2pm.</p>
      {% endif %}
    </div>
</details>
