<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-size-16">{{ common.problemWithThisPage | safe }}</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            {{common.pleaseEmailOrCallDivorceCourt | safe}}
        </p>

        <p class="govuk-body">
            {{common.phoneToCallIfProblems | safe}}
        </p>

        <p class="govuk-body">
            {{common.emailIfProblems | safe}}
        </p>
    </div>
</details>