<!-- Javascript -->
<script src="{{ asset_path }}javascripts/bundle--common.js"></script>
<script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es2015.js" type="module"
        integrity="sha384-qxhkC92FKvklIIr8Uey8Tv9/bIYMMfMcPlcMRCFRkAnwzSCZT6sEFKcU82No1O/a"
        crossorigin="anonymous"></script>
<script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es5.js" nomodule defer
        integrity="sha384-MhDEzxTJMiFFkzTLcABgQBdiQU06koIx4zm+ppoECc2iVpHYR/SXz4y046u9ItP4"
        crossorigin="anonymous"></script>

