<!-- Javascript -->
<script src="{{ asset_path }}javascripts/bundle--common.js"></script>
<script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es2015.js" type="module"
        integrity="sha384-UnpJ9FJER3wd6nrfeRugG/6qIg6CjztJiE52jTrZ5XZ9IUuWeMQ7SqJccb3HyHNd"
        crossorigin="anonymous"></script>
<script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es5.js" nomodule defer
        integrity="sha384-UCTrdyDQ7s1lM/QL5U3YvLYbXkQ2c2nyqtmJEmHNay2Z+UNnDsGmaQkq875rIjb6"
        crossorigin="anonymous"></script>

