{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}

{% block question %}
    {{ content.heading | safe }}
{% endblock %}

{% block form %}
  {%- if session.marriageIsSameSexCouple === 'Yes' %}
    <p class="govuk-body">
      {{ content.residualTextSame1 | safe }}
    </p>
    <p class="govuk-body">
      {{ content.residualTextSame2 | safe }}
    </p>
    <p class="govuk-body">
      {{ content.residualTextSame3 | safe }}
    </p>
    <p class="govuk-body">
      {{ content.residualTextSameConHead | safe }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ content.residualTextSameCon1 | safe }}</li>
      <li>{{ content.residualTextSameCon2 | safe }}</li>
      <li>{{ content.residualTextSameCon3 | safe }}</li>
    </ul>

  {% else %}

    <p class="govuk-body">
      {{ content.residualTextOposite1 | safe }}
    </p>
    <p class="govuk-body">
      {{ content.residualTextOposite2 | safe }}
    </p>
    <p class="govuk-body">
      {{ content.residualTextOposite3 | safe }}
    </p>

  {% endif -%}

    <h2 class="govuk-heading-m">{{ content.question | safe }}</h2>

    {{ yesNoRadioHeading(
        legend = content.question,
        name = 'residualJurisdictionEligible',
        field = fields.residualJurisdictionEligible,
        yes = content.yes,
        no = content.no,
        screenReader = content.question
    ) }}

{% endblock %}
