{% from "common/components/formElements.html" import radioButton %}
{% from "common/components/formElements.html" import textArea %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

    <p class="govuk-body">{{ content.description | safe }}</p>
    <div id="reasonForDivorceAdulterySecondHandInfo" class="govuk-form-group {{ 'govuk-form-group--error' if fields.reasonForDivorceAdulterySecondHandInfo.error }}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>
            {{ errorsFor(fields.reasonForDivorceAdulterySecondHandInfo) }}

            <div class="govuk-radios govuk-radios--inline">
                {{ radioButton(
                    value = 'Yes',
                    label = content.yes,
                    name = 'reasonForDivorceAdulterySecondHandInfo',
                    field = fields.reasonForDivorceAdulterySecondHandInfo,
                    dataTarget='further-details'
                ) }}
                {{ radioButton(
                    value = 'No',
                    label = content.no,
                    name = 'reasonForDivorceAdulterySecondHandInfo',
                    field = fields.reasonForDivorceAdulterySecondHandInfo
                ) }}
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group govuk-details__text {{ 'js-hidden' if fields.reasonForDivorceAdulterySecondHandInfo.value != 'Yes' }}" id="further-details">
        <fieldset class="govuk-fieldset">
            <legend class="visually-hidden">{{ content.informationDetailsQuestion | safe }}</legend>
            {{ textArea(
                name = 'reasonForDivorceAdulterySecondHandInfoDetails',
                field = fields.reasonForDivorceAdulterySecondHandInfoDetails,
                label = content.informationDetailsQuestion
            ) }}
        </fieldset>
    </div>

{% endblock %}
