.check-your-answers {

  table.govuk-table {
    table-layout: fixed;
    width: 100%;

    th {
      vertical-align: top;
      width: 25%;
      font-weight: normal;
    }

    td {
      vertical-align: top;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    td.no-border {
      border: none;
    }

    span.address {
      margin-top: 10px;
      line-height: 1.1;
      display: block
    }
  }

  .confirmation-container {
    background: #dee0e2;
    padding: 25px;
    .govuk-radios__item [type=checkbox] + label::before {
      background: #fff;
    }

    .govuk-list--bullet {
      padding-left: 70px;
    }
    .govuk-body {
      margin-left: 50px;
    }
  }

  .check-your-answers-warning {
    position: relative;
    bottom: 10px;
    padding-left: 10px;
    line-height: 38px;
  }
}

@media (min-width: 641px) {
  .check-your-answers form ul.list-bullet {
    margin-top: 70px;
  }
}

@media (max-width: 640px) {
  .check-your-answers form ul.list-bullet {
    margin-top: 30px;
  }

  .check-your-answers td:nth-of-type(2) {
    word-break: keep-all;
  }
}
