.check-your-answers {

  th {
    vertical-align: top;
    width: 25%;
    font-weight: normal;
  }

  td {
    vertical-align:top;
    word-break: break-all;
  }

  td.no-border {
    border: none;
  }

  span.address {
    margin-top: 10px;
    line-height: 1.1;
    display: block
  }

  #form span.error-message {
      margin-bottom: 7px;
  }

  .confirmation-container {
    background: #dee0e2;
    padding: 25px;
    .multiple-choice [type=checkbox] + label::before {
      background: #fff;
    }

    .list-bullet {
      padding-left: 70px;
    }
    .text {
      margin-left: 50px;
    }
  }
}

@media (min-width: 641px) {
  .check-your-answers #form ul.list-bullet {
    margin-top: 70px;
  }
}

@media (max-width: 640px) {
  .check-your-answers #form ul.list-bullet {
    margin-top: 30px;
  }

  .check-your-answers td:nth-of-type(2) {
    word-break: keep-all;
  }
}
