.contact-details {

  .confirmation-container {
    background: #dee0e2;
    padding: 25px;
    .multiple-choice [type=checkbox] + label::before {
      background: #fff;
    }

    .list-bullet {
      padding-left: 70px;
    }
    .text {
      margin-left: 50px;
    }
  }
}