.file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.file-upload {
    display: block;
    width: 100%;
}

.file-upload-input {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  display: block;

  a {
    @include govuk-media-query($from: desktop) {
      padding-left: 60px;
    }
  }
}

.file-select-button {
  display: none;
}

// Fix unwanted button padding in Firefox
.file-upload-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.file-upload-button:focus {
  outline: 3px solid $govuk-focus-colour;
}