.govuk-new-application-cutoff-date-banner {
  border: 5px solid #1d70b8;
  margin-bottom: 0px;
  padding: 0px;
}

.govuk-new-application-cutoff-date-banner__heading {
  margin-bottom: 10px;
  padding: 0px 20px;
  background-color: #1d70b8;
}

.govuk-new-application-cutoff-date-banner__heading__content {
  margin: 0px;
  padding-bottom: 4px;
  color: #ffffff;
}

.govuk-new-application-cutoff-date-banner__content {
  margin-left: 10px;
  margin-right: 10px;
}
