// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.

//  we need this function to stop the gov.uk toolkit using it's
//  own $path variable that we have no control over
//  as if this function does not exits the path is reset
//  apparently this function is available if we are running Rails
@function image-url($file){
  @return url('../images/' + $file);
}

@import '~govuk-frontend/all';

@import 'file-upload';
@import 'jurisdiction-concepts';
@import 'details';
@import 'notice';
@import 'patterns/facts';
@import 'check-your-answers';
@import 'contact-details';
@import 'reason-for-divorce';
@import 'dropzone';
@import 'progress';
@import 'gov-uk-frontend-toolkit-backward-compatable';

input.govuk-link {
  border: none;
  padding: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  text-decoration: underline;
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: govuk-colours('white');
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: govuk-colours('white');
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $govuk-gutter;
  border-top: 10px solid govuk-colours('blue');
  padding-top: 5px;

  .govuk-heading-m {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.second-text-input {
  margin-top: 15px;
}

a.link-sign-out {
  float: right;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.underline {
  text-decoration: underline;
}

.panel {
  .icon {
    margin-top: -17px; // Half the height of the important icon
  }
}

.certificate-details-confirm {
  display: inline-block;
  max-width: 825px;
  margin-bottom: 60px;
  width: 100%;

  p {
    color: govuk-colours('black');
    background: white;
    border: 2px solid black;
    padding: (18px $govuk-gutter $govuk-gutter-half $govuk-gutter*1.8);
  }

  span {
    border-bottom: thin dotted black;
    display: inline-block;
    width: 210px;
    text-align: center;
    @include govuk-font(19);
  }

  a {
    padding: em(10) em(15) em(5) em(15);
    vertical-align: top;

    @include govuk-media-query($from: mobile) {
      width: 100%;
    }

    float: right;
    border: 1px solid darken(white, 15%);
  }

}

.certificate-details-confirm-solemnised {
  width: 50% !important;
}

.secondary-button {
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
  @include govuk-media-query($from: mobile) {
    width: 100%;
  }
}

// Fix unwanted button padding in Firefox
.secondary-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.secondary-button:focus {
  outline: 3px solid $govuk-focus-colour;
}

.image-cert-example {
  width: 100%;
}

.postcode {
  width: 8.5em;
  @include govuk-media-query($from: mobile) {
    width: 100%;
  }
}

#enter-manually {
  margin-top: 20px;
}

.financial-orders {
  @include govuk-media-query($from: tablet) {
    width: 80%;
  }
}

.displayInlineBlock {
  display: inline-block;
}

strong {
  font-weight: bold;
}

table {
    margin-bottom: 1em;
}

section {
    margin-bottom: 2em;
}

@media (min-width: 641px) {
  .jurisdiction > .govuk-radios__item,
  #reason > .govuk-radios__item {
    min-width: 85%;
    .govuk-body-s {
      min-height: 50px;
      padding-left: 22px;
      display: block;

    }
  }

  .jurisdiction {
    .govuk-heading-m {
      margin-top: 25px;
    }
  }

  .check-your-answers {
    form {
      .text {
          max-width: 100%;
      }
      .govuk-heading-m{
        margin-top: 0px;
      }
    }
  }
}

address {
  font-style: normal;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.text-reference-number {
  letter-spacing: 2px;
  font-size: 24px;
}

input.link{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#global-cookie-message {
  width: 100%;
  background-color: #d5e8f3;
  padding: 10px;

  p {
    margin: 0 !important;
  }
}
