{% extends "layout.html" %}
{% from "common/errors.html" import errorsFor %}

{% block extra_scripts %}
  <script type="text/javascript">
    (function(){
      var documentUpload = new DIVORCE.documentUpload();
      documentUpload.init({
        uploadingHint: '{{ content.uploading }}',
        pendingUploadHint: '{{ content.pendingUpload }}',
        hideErrorFileLink: '{{ content.hide }}',
        removeFileLink: '{{ content.remove }}',
        errors: {
          errorMaximumFilesExceeded: '{{ content.errorMaximumFilesExceeded }}',
          errorUnknown: '{{ content.errorUnknown }}',
          errorFileSizeTooLarge: '{{ content.errorFileSizeTooLarge }}',
          errorFileTypeInvalid: '{{ content.errorFileTypeInvalid }}',
          errorVirusFoundInFile: '{{ content.errorVirusFoundInFile }}'
        }
      });
    })();
  </script>
{% endblock %}

{% block two_thirds -%}
          {% if errors.length > 0 %}
              <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" autofocus>
                <h1 class="govuk-error-summary__title" id="error-summary-title">
                    {{ common.errorSummaryHeading | safe }}
                </h1>

                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    {% for error in errors %}
                        <li><a href="#{{error.param}}">{{error.msg | safe}}</a></li>
                    {% endfor %}
                  </ul>
                </div>

              </div>
          {% endif %}

          <h1 class="govuk-heading-l">
              {{ content.question | safe }}
          </h1>

          <div class="govuk-body">
            <p class="govuk-body">{{ content.uploadDigitalPhoto }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ content.marriageCertificateContent | safe }}</li>
              {%- if (session.certifiedTranslation == 'Yes' ) %}
                <li>{{ content.translationContent | safe }}</li>
              {% endif -%}
              {%- if (session.petitionerNameChangedHow and (session.petitionerNameChangedHow.indexOf('deedPoll') > -1 or session.petitionerNameChangedHow.indexOf('other') > -1) ) -%}
                <li>{{ content.nameChangeContent | safe }}</li>
              {%- endif -%}
            </ul>

          <p class="govuk-body govuk-inset-text">{{ content.camera | safe }}</p>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.howToTake }}</span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--number">
                  <li>{{ content.howToTakeInfo1 }}</li>
                  <li>{{ content.howToTakeInfo2 }}</li>
                  <li>{{ content.howToTakeInfo3 }}</li>
                  <li>{{ content.howToTakeInfo4 }}</li>
                </ul>
              </div>
            </details>

            <p class="govuk-body">{{ content.limitations }}</p>
            <p class="govuk-body">{{ content.otherDocuments }}</p>

            <div class="document-upload">
              <div class="fallback">
                <form method="POST" accept-charset="utf-8" class="form"
                  enctype="multipart/form-data"
                  autocomplete="off"
                  action="?_csrf={{csrfToken}}">
                  <label for="marriageCertificateFiles" class="file-select-button">
                    {{ content.selectFiles }}
                  </label>
                  <input id="marriageCertificateFiles" type="file" name="file" class="file-upload-input" accept="image/x-png,image/png,image/jpeg,image/jpg,.pdf,.bmp,.tiff,.tif" required />
                  <input type="submit" class="govuk-button govuk-button--secondary" name="upload" value="{{ content.upload }}" />
                </form>
              </div>
              <div class="dropzone-container hidden">
                <div class="dz-default dz-message grid-row">
                  <div class="column-one-third">
                    <span class="arrow-icon"></span>
                  </div>
                  <div class="column-two-thirds">
                    <p class="dz-message-copy">
                      <a href="#" class="faux-link">{{ content.clickToChooseFile }}</a><br>
                      <strong>{{ content.or }}</strong><br>
                     {{ content.dragAndDrop }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="uploaded-files-wrapper {{ 'hidden' if not fields.marriageCertificateFiles.value.length }}">
              <br />

              <h2 class="govuk-heading-s" style="margin-bottom: 0;">{{ content.uploadedFiles }}</h2>
              <table class="govuk-table">
                <colgroup>
                   <col span="1" style="width: 85%;">
                   <col span="1" style="width: 15%;">
                </colgroup>
                <tbody class="govuk-table__body">
                  {%- if fields.marriageCertificateFiles.value.length -%}
                    {%- for file in fields.marriageCertificateFiles.value -%}
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ file.fileName | safe }}</td>
                        <td class="govuk-table__cell"><a class="govuk-link remove-file" data-fileUrl="{{ file.fileUrl | safe }}" href="?fileUrl={{ file.fileUrl | urlencode }}&noJsDelete=true">{{ content.remove }}</a></td>
                      </tr>
                    {%- endfor -%}
                  {%- else -%}
                    <tr class='no-files govuk-table__row'>
                      <td class="govuk-table__cell">{{ content.noFiles }}</td>
                      <td class="govuk-table__cell">&nbsp;</td>
                    </tr>
                  {%- endif -%}
                </tbody>
              </table>
            </div>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.cantUpload | safe }}</span>
              </summary>
              <div class="govuk-details__text">

               <p class="govuk-body">{{ content.continue | safe }}</p>
              <p class="govuk-body">{{ content.emailOrPost | safe }}</p>



                <p class="govuk-body">{{ content.keptAndReturned | safe}}</p>
              </div>
            </details>
          </div>

          <form method="POST" accept-charset="utf-8" class="form"
                enctype="application/x-www-form-urlencoded"
                autocomplete="off">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input name="submit" type="submit" class="govuk-button" value="{{common.continue}}">
              {% include "includes/save_and_close.html" %}
          </form>

{% endblock %}