{% from "warning-text/macro.njk" import govukWarningText %}
{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}

{% block skipLink %}
  <div id="global-cookie-message" style="display: block;">
    <div class="govuk-width-container">
      <p class="govuk-body-s">
          {{ content.cookie | safe }}
          <a class="govuk-link" href="/cookie" target="_blank">{{ content.cookieLink | safe }}</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

    <p class="govuk-body"> {{ content.line1 | safe }}</p>

    {{ yesNoRadioHeading(
        legend = content.question,
        name = 'screenHasMarriageBroken',
        field = fields.screenHasMarriageBroken,
        yes = content.yes,
        no = content.no,
        targetYes = '',
        targetNo = 'marriage-broken-down-no',
        screenReader = content.question
    ) }}

    <div class="govuk-details__text js-hidden govuk-!-margin-bottom-3" id="marriage-broken-down-no">
      {{ govukWarningText({
          text: content.marriageBrokenDownNo | safe,
          iconFallbackText: content.warning
      }) }}
    </div>

{% endblock %}

{% block saveAndClose %}{% endblock %}
