{% from "warning-text/macro.njk" import govukWarningText %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{% from "common/document-list.njk" import documentList, d8petitionDocumentInfo %}

{% extends "layout.html" %}

{% block back %}{% endblock %}

{% block breadcrumbs %}
{% set html %}
{{ common.feedback | safe }}
{% endset %}
{{ govukPhaseBanner({
tag: {
text: common.phase
},
html: html
}) }}
{% endblock %}

{% block two_thirds %}
{% set title = content.title %}

  <h1 class="govuk-heading-xl">{{ content.mainHeading | safe}}</h1>
  <p class="govuk-body-s">
    <strong class="govuk-!-font-size-16">Case number:</strong>&nbsp;&nbsp;&nbsp;
    {{ session.caseId | insertHyphens | safe }}
    <br>
    <strong class="govuk-!-font-size-16">Name:</strong>
    {{ session.petitionerFirstName | safe }}
    {{ session.petitionerLastName | safe }}
  </p>

{{ hmctsProgressBar({
  items: [
     {
      label: { text: content.youApply },
      complete: true
     },
     {
      label: { text: content.yourRespondes },
      active: true
      },
     {
      label: { text: content.continueDivorce }
     },
     {
      label: { text: content.divorceFinalised }
      }
     ]
   }) }}

<h2 class="govuk-heading-m govuk-!-margin-top-8">{{content.whatToDoNow | safe}}</h2>
<div class="govuk-body">
  <p class="govuk-body"> {{content.amendedApplicationInfoPara1 | safe}}</p>
  <p class="govuk-body"> {{content.amendedApplicationInfoPara2 | safe}}</p>
  <p class="govuk-body"> {{content.amendedApplicationInfoPara3 | safe}}</p>
  <p class="govuk-body"> {{content.amendedApplicationInfoPara4 | safe}}</p>

  {% if (session.d8Documents.length > 0) %}
     {{ d8petitionDocumentInfo(session.d8Documents, content) }}
  {% endif %}

</div>

<div class="govuk-body">
  <button class="govuk-button" data-module="govuk-button">
    {{content.continueBtnText | safe}}
  </button>
</div>

{% endblock %}

{% block one_third %}
<aside class="govuk-related-items" role="complementary">
  <h3 class="govuk-heading-m">{{ content.help }}</h3>
  <ul class="govuk-list govuk-body govuk-!-font-size-16 help">
    <li>
      <h4 class="govuk-heading-xs govuk-!-margin-0 go">{{ content.emailHeading }}</h4>
      <a class="govuk-link" href="mailto:{{ content.divorceEmail }}" aria-label="{{ content.email }} link">{{
        session.allocatedCourt.email | safe if session.allocatedCourt.email }}</a><br>
    </li>
    <li>
      <h4 class="govuk-heading-xs govuk-!-margin-0">{{ content.phoneHeading }}</h4>
      {{ session.allocatedCourt.phoneNumber | safe if session.allocatedCourt.phoneNumber }}<br>
      {{ session.allocatedCourt.openingHours | safe if session.allocatedCourt.openingHours }}<br>
    </li>

    <li>
      {% if session.allocatedCourt.serviceCentreName %}
      {{ session.allocatedCourt.serviceCentreName | safe }}<br/> {{ content.careOf | safe }}
      {% endif %}
      {{ session.allocatedCourt.divorceCentre | safe }}<br/>
      {% if session.allocatedCourt.poBox %}
      {{ session.allocatedCourt.poBox | safe }}<br/>
      {% else %}
      {{ session.allocatedCourt.divorceCentreAddressName | safe }}<br/>
      {{ session.allocatedCourt.street | safe }}<br/>
      {% endif %}
      {{ session.allocatedCourt.courtCity | safe }}<br/>
      {{ session.allocatedCourt.postCode | safe }}
    </li>
  </ul>

  {% if (session.d8Documents.length > 0) %}
    <h3 class="govuk-heading-m">{{ content.downloadDocumentHeading }}</h3>
    {{ documentList(session.d8Documents) }}
  {% endif %}

  <h3 class="govuk-heading-m" id="subsection-title">{{ content.guidanceHeading }}</h3>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-body govuk-!-font-size-16">
      <li>{{ content.howRespondsLink | safe }}</li>
      <li>{{ content.decreeNisiLink | safe }}</li>
      <li>{{ content.decreeAbsoluteLink | safe }}</li>
      <li>{{ content.childrenAndDivorceLink | safe }}</li>
      <li>{{ content.moneyAndPropertyLink | safe }}</li>
    </ul>
  </nav>
</aside>
{% endblock %}
