{% from "warning-text/macro.njk" import govukWarningText %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{% from "common/components/awaitingAmendsComponent.html" import documentList, nextStep %}

{% extends "layout.html" %}

{% block back %}{% endblock %}

{% block breadcrumbs %}
{% set html %}
{{ common.feedback | safe }}
{% endset %}
{{ govukPhaseBanner({
tag: {
text: common.phase
},
html: html
}) }}
{% endblock %}

{% block two_thirds %}
{% set title = content.title %}
  <h1 class="govuk-heading-xl">{{ content.mainHeading | safe}}</h1>
  <p class="govuk-body-s govuk-!-margin-bottom-6">
    <strong class="govuk-!-font-size-16">Case number:</strong>
    <span>{{ session.caseId | insertHyphens | safe }}</span>
    <br>
    <strong class="govuk-!-font-size-16">Name:</strong>
    <span>{{ session.petitionerFirstName | safe }}
      {{ session.petitionerLastName | safe }}</span>
</p>

{{ hmctsProgressBar({
items: [
{
label: { text: content.youApply },
complete: true
},
{
label: { text: content.yourRespondes },
active: true
},
{
label: { text: content.continueDivorce }
},
{
label: { text: content.divorceFinalised }
}
]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-8">{{content.whatToDoNow | safe}}</h2>
<div class="govuk-body">
  <p class="govuk-body"> {{content.amendedApplicationInfoPara1 | safe}}</p>
  <p class="govuk-body"> {{content.amendedApplicationInfoPara2 | safe}}</p>
  <p class="govuk-body"> {{content.amendedApplicationInfoPara3 | safe}}</p>
  <p class="govuk-body"> {{content.amendedApplicationInfoPara4 | safe}}</p>

  {% if session.d8 and session.d8.length %}
  {{ govukWarningText({
  text: content.downloadWarning | safe,
  iconFallbackText: content.warning
  }) }}
  {% endif %}

</div>

{{ nextStep(content.continueBtnText, csrfToken) }}

{% endblock %}

{% block one_third %}
<aside class="govuk-related-items" role="complementary">
  <h3 class="govuk-heading-m">{{ content.help }}</h3>
  <ul class="govuk-list govuk-body govuk-!-font-size-16 help">
    <li>
      <h4 class="govuk-heading-xs govuk-!-margin-0 go">{{ content.emailHeading }}</h4>
      <a class="govuk-link" href="mailto:{{ content.divorceEmail }}" aria-label="{{ content.email }} link">{{
        session.court.serviceCentre.email | safe if session.court.serviceCentre.email }}</a><br>
    </li>
    <li>
      <h4 class="govuk-heading-xs govuk-!-margin-0">{{ content.phoneHeading }}</h4>
      {{ session.court.serviceCentre.phoneNumber | safe if session.court.serviceCentre.phoneNumber }}<br>
      {{ session.court.serviceCentre.openingHours | safe if session.court.serviceCentre.openingHours }}<br>
    </li>

    <li>
      {% if session.court.serviceCentre %}
      {{ session.court.serviceCentre.serviceCentreName | safe }}<br/> {{ content.careOf | safe }}
      {% endif %}
      {{ session.court.serviceCentre.divorceCentre | safe }}<br/>
      {% if session.court.serviceCentre.poBox %}
      {{ session.court.serviceCentre.poBox | safe }}<br/>
      {% else %}
      {{ session.court.serviceCentre.divorceCentre | safe }}<br/>
      {{ session.court.serviceCentre.street | safe }}<br/>
      {% endif %}
      {{ session.court.serviceCentre.courtCity | safe }}<br/>
      {{ session.court.serviceCentre.postCode | safe }}
    </li>
  </ul>

  {% if session.d8 and session.d8.length %}
    <h3 class="govuk-heading-m">{{ content.downloadDocumentHeading }}</h3>
    {{ documentList(session.d8) }}
  {% endif %}

  <h3 class="govuk-heading-m" id="subsection-title">{{ content.guidanceHeading }}</h3>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-body govuk-!-font-size-16">
      <li>{{ content.howRespondsLink | safe }}</li>
      <li>{{ content.decreeNisiLink | safe }}</li>
      <li>{{ content.decreeAbsoluteLink | safe }}</li>
      <li>{{ content.childrenAndDivorceLink | safe }}</li>
      <li>{{ content.moneyAndPropertyLink | safe }}</li>
    </ul>
  </nav>
</aside>
{% endblock %}
