tags:
  idam-pr: true
  pr: true

idam-pr:
  redirect_uris:
    divorce:
      - https://${SERVICE_FQDN}/authenticated

nodejs:
    environment:
        APPINSIGHTS_INSTRUMENTATIONKEY: "dummykey"
        FEATURE_STRATEGIC_PAY: "false"
        REDISCLOUD_URL: "redis://${SERVICE_NAME}-redis-master:6379"
        PUBLIC_HOSTNAME: "https://${SERVICE_NAME}.preview.platform.hmcts.net"
        EQUALITY_URL: "https://pcq.aat.platform.hmcts.net"
        PRD_ORGANISATION_API_URL: "http://rd-professional-api-aat.service.core-compute-aat.internal/refdata/external/v1/organisations/status"
        ANTENNA_WEBCHAT_URL: "webchat.pp.ctsc.hmcts.net"
        ANTENNA_WEBCHAT_SERVICE: "Divorce"
        ANTENNA_WEBCHAT_VERSION: "1"
        FEATURE_ANTENNA_WEBCHAT_USER_ATTRIBUTE: "true"
        ANTENNA_WEBCHAT_AVAILABILITY_DEBUG: "true"
        FEATURE_ANTENNA_WEBCHAT_AVAILABILITY_TOGGLE: "true"
        FEATURE_DYNATRACE: "false"
        FEATURE_NEW_APP_CUTOFF_DATE_BANNER: "true"
        DECREE_NISI_FRONTEND_URL: "https://decree-nisi-aks.aat.platform.hmcts.net"

        FEATURE_NEW_APP_CUTOFF: "false"

        # Array of case states that will trigger a redirect.
        NEW_APP_CUTOFF_REDIRECT_STATES: [
            'AwaitingPayment',
            'AwaitingHWFDecision',
            'AwaitingDocuments',
            'Withdrawn',
            'PendingRejection',
            'Rejected'
        ]

    keyVaults:
        div:
            secrets:
                - session-secret
                - redis-secret
                - idam-secret
                - os-places-token
                - frontend-secret
                - launchdarkly-key
                - pcq-token-key

    # Don't modify below here
    image: ${IMAGE_NAME}
    ingressHost: ${SERVICE_FQDN}

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  serviceAccount:
    create: false
    name: "divorce"
    automountServiceAccountToken: true
