nodejs:
    # Don't modify below here
    image: ${IMAGE_NAME}
    ingressHost: ${SERVICE_FQDN}
    environment:
      ANTENNA_WEBCHAT_URL: "webchat-client.training.ctsc.hmcts.net"
      ANTENNA_WEBCHAT_SERVICE: "Testing"
      COOKIE_DOMAIN: "demo.platform.hmcts.net"
