{% from "warning-text/macro.njk" import govukWarningText %}
{% extends "question.html" %}
{% set reasonForDivorceShowTwoYearsSeparation = fields.reasonForDivorceShowTwoYearsSeparation.value %}
{% set reasonForDivorceShowFiveYearsSeparation = fields.reasonForDivorceShowFiveYearsSeparation.value %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

<p class="govuk-body">{{ content.explanation | safe }} </p>

    <div class="govuk-body">

        {% if reasonForDivorceShowTwoYearsSeparation or reasonForDivorceShowFiveYearsSeparation %}
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">{{ content.separatedDetails | safe }}</span>
                </summary>

                <div class="govuk-details__text">

                    <h4 class="govuk-heading-s">
                        {{ content.sameResidenceHeading | safe }}
                    </h4>

                    <p class="govuk-body">{{ content.sameResidenceSummary | safe }}</p>

                    <h4 class="govuk-heading-s">
                        {{ content.asACoupleHeading | safe }}
                    </h4>

                    <p class="govuk-body">
                        {{ content.asACoupleSummary1 | safe }}
                        {% if reasonForDivorceShowFiveYearsSeparation %}
                            {{ content.5Years | safe }}
                            {% elseif reasonForDivorceShowTwoYearsSeparation %}
                            {{ content.2Years | safe }}
                        {% endif %}
                        {{ content.asACoupleSummary2 }}
                    </p>
                    <p class="govuk-body">
                        {{ content.asACoupleSummary3 | safe }}
                    </p>
                </div>

            </details>
        {% endif %}

        <div id="reasonForDivorce" class="govuk-form-group {{ 'govuk-form-group--error' if fields.reasonForDivorce.error }}">
            <fieldset class="govuk-fieldset ">
                <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">{{ content.chooseAReason | safe }}</legend>

                {{ errorsFor(fields.reasonForDivorce) }}

                {% if fields.reasonForDivorceShowUnreasonableBehaviour.value %}

                <div class="multiple-choice govuk-radios__item" data-target="unreasonable-behaviour-warning">
                    <input class="govuk-radios__input"
                            id="unreasonable-behaviour"
                           type="radio"
                           name="reasonForDivorce"
                           value="unreasonable-behaviour" {{ 'checked' if fields.reasonForDivorce.value == 'unreasonable-behaviour' }}>


                    <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold"
                       for="unreasonable-behaviour" data-target="unreasonable-behaviour-warning">

                        {{ content.unreasonableBehaviourHeading | safe }}<br>
                      <span class="govuk-body">
                        {{ content.unreasonableBehaviourSummary | safe }}
                      </span>
                    </label>
                </div>

                <div class="govuk-details__text govuk-!-margin-bottom-2 {{ 'js-hidden' if fields.reasonForDivorce.value != 'unreasonable-behaviour' }}" id="unreasonable-behaviour-warning">
                    {{ govukWarningText({
                        text: content.unreasonableBehaviourWarning | safe,
                        iconFallbackText: content.warning
                    }) }}
                </div>

                {% endif %}

                {% if fields.reasonForDivorceShowAdultery.value %}

                <div class="multiple-choice govuk-radios__item" data-target="adultery-warning">
                  <input class="govuk-radios__input" id="adultery"
                           type="radio"
                           name="reasonForDivorce"
                           value="adultery" {{ 'checked' if fields.reasonForDivorce.value == 'adultery' }} {{ 'disabled' if not fields.reasonForDivorceEnableAdultery.value}}>
                    <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="adultery" >
                        {{ content.adulteryHeading | safe }}<br>

                    <span class="govuk-body">
                        {{ content.adulterySummary1 | safe }} {% if husbandOrWife() == 'wife' %} {{content.man}} {% else %} {{content.woman}} {% endif %} {{ content.adulterySummary2 | safe }}
                    </span>
                </label>

                </div>

                <div class="govuk-details__text govuk-!-margin-bottom-2 {{ 'js-hidden' if fields.reasonForDivorce.value != 'adultery' }}" id="adultery-warning">
                    {{ govukWarningText({
                        text: content.adulteryWarning | safe,
                        iconFallbackText: content.warning
                    }) }}
                </div>

                {% endif %}

                {% if fields.reasonForDivorceShowTwoYearsSeparation.value %}
                    <div class="multiple-choice govuk-radios__item" data-target="separation-2-years-warning">
                        <input class="govuk-radios__input" id="separation-2-years"
                                   type="radio"
                                   name="reasonForDivorce"
                                   value="separation-2-years" {{ 'checked' if fields.reasonForDivorce.value == 'separation-2-years' }}>
                        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="separation-2-years" >

                        {{ content.2YearsSeparationHeading | safe }}<br>
                        <span class="govuk-body">
                              {{ content.2YearsSeparationSummary | safe }}
                        </span>
                        </label>
                    </div>

                    <div class="govuk-details__text govuk-!-margin-bottom-2 {{ 'js-hidden' if fields.reasonForDivorce.value != 'separation-2-years' }}" id="separation-2-years-warning">
                        {{ govukWarningText({
                            text: content.2YearsSeparationWarning | safe,
                            iconFallbackText: content.warning
                        }) }}
                    </div>
                {% endif %}

                {% if fields.reasonForDivorceShowFiveYearsSeparation.value %}
                    <div class="multiple-choice govuk-radios__item">
                        <input class="govuk-radios__input" id="separation-5-years"
                               type="radio"
                               name="reasonForDivorce"
                               value="separation-5-years" {{ 'checked' if fields.reasonForDivorce.value == 'separation-5-years' }}>

                        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="separation-5-years">

                             {{ content.5YearsSeparationHeading | safe }}<br>
                            <span class="govuk-body">
                             {{ content.5YearsSeparationSummary | safe }}
                            </span>
                        </label>
                    </div>
                {% endif %}

                {% if fields.reasonForDivorceShowDesertion.value %}
                    <div class="multiple-choice govuk-radios__item">
                     <input class="govuk-radios__input" id="desertion"
                               type="radio"
                               name="reasonForDivorce"
                               value="desertion" {{ 'checked' if fields.reasonForDivorce.value == 'desertion' }}>

                    <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold"
                           for="desertion">

                        {{ content.desertionHeading | safe }}<br>
                        <span class="govuk-body">
                            {{ content.desertionSummary | safe }}
                        </span>
                    </label>
                    </div>
                {% endif %}
            </fieldset>
        </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.noneApply | safe }}</span>
            </summary>

            <div class="govuk-details__text">
                <p class="govuk-body">
                    <span>{{ content.finalPossibilities | safe }}</span>
                </p>

                {% if fields.reasonForDivorceLimitReasons.value %}
                    <p class="govuk-body">
                        <span class="bold-small">{{ content.alternativelyInFuture | safe }}</span>
                    </p>

                    {% if fields.reasonForDivorceTimeUntilReason2Years.value %}
                        {{ fromInfo(fields.reasonForDivorceTimeUntilReason2Years) }}

                        <ul class="govuk-list govuk-list--bullet">
                            {% if not fields.reasonForDivorceShowTwoYearsSeparation.value %}
                                {{ reasonInfo(content.2YearsSeparationHeading, content.2YearsSeparationExclusion) }}
                            {% endif %}

                            {% if not fields.reasonForDivorceShowDesertion.value %}
                                {{ reasonInfo(content.desertionHeading, content.desertionExclusion) }}
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if not fields.reasonForDivorceShowFiveYearsSeparation.value %}
                        {{ fromInfo(fields.reasonForDivorceTimeUntilReason5Years) }}

                        <ul class="govuk-list govuk-list--bullet">
                            {{ reasonInfo(content.5YearsSeparationHeading, content.5YearsSeparationExclusion) }}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </details>
    </div>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    DIVORCE.SwitchReasonColor();
  </script>
{% endblock %}

{% macro fromInfo(date) %}
    <p class="govuk-body">
        From {{ date.value }}:
    </p>
{% endmacro %}

{% macro reasonInfo(heading, summary) %}
    <p class="govuk-body">
        <li>{{heading | safe}} - {{summary | safe}}</li>
    </p>
{% endmacro %}
