<tr>
  <th>{{ content.question | safe }}</th>
  <td>{{ fields.certificateInEnglish.value }}</td>
  <td><a class="link" aria-label="{{ content.change }} {{ content.question | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
{% if fields.certifiedTranslation.value %}
<tr>
  <th>{{ content.cyaCertifiedTranslation | safe }}</th>
  <td>{{ fields.certifiedTranslation.value }}</td>
  <td><a class="link" aria-label="{{ content.change }} {{ content.cyaCertifiedTranslation | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
{% endif %}