{% extends "question.html" %}
{% from "common/components/formElements.html" import checkBoxCustom %}
{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block form %}

<div class="text">

    <p>{{ content.explanation | safe }} {{ content.noneApply | safe }}</p>
    <p>{{ content.basedOn | safe }} {{ content.noneApply | safe }}</p>

    <details>
        <summary>
            <span class="summary">{{ content.habitualTitle | safe }}</span>
        </summary>

        <div class="panel panel-border-narrow">
            <p>{{ content.indicates | safe }}</p>
            <p>{{ content.explained | safe }}</p>
            <p>{{ content.notCompleteList | safe }}</p>
        </div>
    </details>

    <details>
        <summary>
            <span class="summary">{{ content.domiciledTitle | safe }}</span>
        </summary>

        <div class="panel panel-border-narrow">
            <p>{{ content.usually | safe }}</p>
            <p>{{ content.domiciledExplained | safe }}</p>
            <ul class="list-bullet list">
                <li>{{ content.fatherDomicile | safe }}</li>
                <li>{{ content.motherDomicile | safe }}</li>
            </ul>
            <p>{{ content.domicileOfChoice | safe }}</p>
            <p>{{ content.selectYes | safe }}</p>
        </div>
    </details>

    <fieldset id="reason" class="form-group jurisdiction{{ ' error' if fields.reason.error }}">
        <legend class="form-label-bold">{{ content.select | safe }}</legend>

        {{ checkBoxCustom(
        id = 'bothResident',
        name = 'jurisdictionLastResort[]',
        field = fields.jurisdictionLastResort,
        value = 'bothResident',
        label = content.bothResident
        ) }}

        {{ checkBoxCustom(
        id = 'oneOfResident',
        name = 'jurisdictionLastResort[]',
        field = fields.jurisdictionLastResort,
        value = 'oneOfResident',
        label = content.oneOfResident
        ) }}

        {{ checkBoxCustom(
        id = 'respondentResident',
        name = 'jurisdictionLastResort[]',
        field = fields.jurisdictionLastResort,
        value = 'respondentResident',
        label = content.respondentResident
        ) }}

        {{ checkBoxCustom(
        id = 'petitionerResident',
        name = 'jurisdictionLastResort[]',
        field = fields.jurisdictionLastResort,
        value = 'petitionerResident',
        label = content.petitionerResident
        ) }}

        {{ checkBoxCustom(
        id = 'petitionerResidentAndDomiciled',
        name = 'jurisdictionLastResort[]',
        field = fields.jurisdictionLastResort,
        value = 'petitionerResidentAndDomiciled',
        label = content.petitionerResidentAndDomiciled
        ) }}

        {{ checkBoxCustom(
        id = 'bothDomiciled',
        name = 'jurisdictionLastResort[]',
        field = fields.jurisdictionLastResort,
        value = 'bothDomiciled',
        label = content.bothDomiciled
        ) }}

    </fieldset>

</div>

{% endblock %}

