<tr>
  <th>{{ content.question | safe }}</th>
  <td>{{ content[fields.divorceWho.value] }}</td>
  <td><a class="link" aria-label="{{ content.change }} {{ content.question | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
{% if fields.marriageIsSameSexCouple.value === 'Yes' %}
  <tr>
    <th>{{ content.marriageIsSameSexCoupleText | safe }}</th>
    <td>{{ content[fields.marriageIsSameSexCouple.value] }}</td>
    <td><a class="link" aria-label="{{ content.change }} {{ content.marriageIsSameSexCoupleText | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
  </tr>
{% endif %}