{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}

{% block question %}
    {{ content.heading | safe }}
{% endblock %}

{% block form %}

    <div class="govuk-body jurisdiction">
        <p class="govuk-body">{{ content.connection | safe }}</p>
        <p class="govuk-body">{{ content.task | safe }}</p>

        <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.jurisdictionPetitionerResidence.error }}">
            <fieldset id="jurisdictionPetitionerResidence" class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ content.petitioner | safe }}</legend>
                <p class="govuk-body">{{ content.info | safe }}</p>

                {{ errorsFor(fields.jurisdictionPetitionerResidence) }}

                <div class="govuk-radios govuk-radios--inline">
                    {{ radioButton(
                    value = 'Yes',
                    label = content.yes,
                    name = 'jurisdictionPetitionerResidence',
                    field = fields.jurisdictionPetitionerResidence,
                    dataTarget = 'jurisdictionRespondentResidence',
                    screenReader = content.petitioner
                    ) }}
                    {{ radioButton(
                    value = 'No',
                    label = content.no,
                    name = 'jurisdictionPetitionerResidence',
                    field = fields.jurisdictionPetitionerResidence,
                    dataTarget = 'jurisdictionRespondentResidence',
                    screenReader = content.petitioner
                    ) }}
                </div>

            </fieldset>

        </div>

        <div class="govuk-form-group">
            <fieldset id="jurisdictionRespondentResidence" class="govuk-fieldset {{ 'js-hidden' if fields.jurisdictionPetitionerResidence.value === undefined }} {{ 'govuk-form-group--error' if fields.jurisdictionRespondentResidence.error }}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ content.respondent | safe }}</legend>
                <p class="govuk-body">{{ content.info | safe }}</p>

                {{ errorsFor(fields.jurisdictionRespondentResidence) }}
                <div class="govuk-radios govuk-radios--inline">
                    {{ radioButton(
                    value = 'Yes',
                    label = content.yes,
                    name = 'jurisdictionRespondentResidence',
                    field = fields.jurisdictionRespondentResidence,
                    screenReader = content.respondent
                    ) }}
                    {{ radioButton(
                    value = 'No',
                    label = content.no,
                    name = 'jurisdictionRespondentResidence',
                    field = fields.jurisdictionRespondentResidence,
                    screenReader = content.respondent
                    ) }}
                </div>

            </fieldset>

        </div>

    </div>

{% endblock %}
