{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

    <p class="govuk-body"> {{content.originalCertificate | safe }}</p>

   <div class="govuk-inset-text">
    <p class="govuk-body"> {{content.camera | safe }}</p>
    </div>

    <p class="govuk-body"> {{content.certificateTranslation | safe }}</p>

    {{ yesNoRadioHeading(
        legend = content.question,
        name = 'screenHasMarriageCert',
        field = fields.screenHasMarriageCert,
        yes = content.yes,
        no = content.no,
        screenReader = content.question
    ) }}

{% endblock %}

{% block saveAndClose %}{% endblock %}
