{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  {% include "includes/phase_banner.html" %}
  <a class="govuk-back-link" href="#" onclick="history.go(-1); return false;">{{common.back}}</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{content.title | safe}}</h1>
        <p class="text">
            {{ content.formallyStartFinancialProceedings | safe }}
        </p>
        <p class="text">
            {{ content.sendFormA | safe }}
        </p>
        <p class="text">
            {{ content.linkToMoreGuidance | safe }}
        </p>

        <a class="button" href="{{fields.nextStepUrl.value}}" role="button">{{common.continue}}</a>

    </div>
  </div>

</main>

{% endblock %}