.facts {

  details {
    max-width: 570px;
    background: govuk-colours('grey-4');

    &:hover {
      outline: 1px solid govuk-colours('black');
    }

    summary {

      max-width: 510px;
      width: 100%;
      padding: 15px 30px;
      color: govuk-colours('black');

      &:focus {
        outline: 3px solid $govuk-focus-colour;
      }

      &:hover {
        color: govuk-colours('black');

      }
    }

    p {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 15px;
    }
  }

  margin-bottom: $govuk-gutter;

}
