{% extends "exit.html" %}

{% block heading %}
    {{ content.title | safe }}
{% endblock %}

{% block exit_reason %}
    <p class="govuk-body">{{ content.reason | safe }}</p>
    <p class="govuk-body">{{ content.advice | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/jurisdiction/habitual-residence">{{ content.option1 | safe }}</a></li>
      <!-- Removing below link due to bug with CYA TODO: replace link with form or alternative logic -->
      <!-- <li><a class="govuk-link" href="/jurisdiction/last-resort">{{ content.option2 | safe }}</a></li> -->
      <li><a class="govuk-link" href="/bye">{{ content.option3 | safe }}</a></li>
    </ul>

{% endblock %}
