{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{content.title | safe}}</h1>

            <p class="text">{{content.info | safe}}</p>

            <p class="text">{{content.youCan | safe}}</p>
            <ul class="list list-bullet">
                <li>{{content.goBack | safe}}</li>
                <li><a href="/">{{content.signIn | safe}}</a></li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}
