{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  {% include "includes/phase_banner.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{content.title | safe}}</h1>
        <p>
          {{content.subTitle | safe}}
        </p>
      </div>

      <h2 class="heading-medium">{{content.printApplication | safe}}</h2>
      <p class="text">
        {{content.include | safe}}
      </p>
      <ul class="list list-bullet">
        <li>
          {{content.copies1 | safe}}
          {% if session.reasonForDivorce === 'adultery' and session.reasonForDivorceAdulteryWishToName === 'Yes' %}
            {{content.copies2 | safe}}
          {% endif %}
          {{content.copies3 | safe}}
        </li>
        {% if session.paymentMethod === 'card-phone' %}
        <li>{{content.creditCard | safe}}</li>
        {% endif %}
      </ul>
      <p class="text">
        {{content.noNeedToSign | safe}}
      </p>
      <p class="text">
        {{content.cantOpen | safe}}
      </p>
      <h2 class="heading-medium">{{content.gatherApplication | safe}}</h2>
      <p class="text">
        {{content.alsoInclude | safe}}
      </p>
      <ul class="list list-bullet">
        <li>{{content.certified | safe}}</li>
        <li>{{content.englishTranslation | safe}}</li>
        {% if (session.petitionerNameChangedHow and (session.petitionerNameChangedHow.indexOf('deedPoll') > -1 or session.petitionerNameChangedHow.indexOf('other') > -1) ) %}
          <li>{{content.proofOfName | safe}}</li>
        {% endif %}
        {% if session.paymentMethod === 'cheque' %}
          <li>{{content.cheque | safe}}</li>
        {% endif %}
      </ul>
      <p class="text">
        {{content.courtWillKeep | safe}}
      </p>

      <h2 class="heading-medium">{{content.helpImproveService | safe}}</h2>
      <p class="text">
        {{content.improveServiceContent | safe}}
      </p>

      <h2 class="heading-medium">{{content.getHelp | safe}}</h2>
      <p class="text">
        {{content.gelpHelpDescription | safe}}
      </p>
      <p class="text">
        {% if session.courts === 'eastMidlands' %}
         {{content.eastmidlandsEmail | safe}}
        {% endif %}
        {% if session.courts === 'westMidlands' %}
          {{content.westmidlandsEmail | safe}}
        {% endif %}
        {% if session.courts === 'southWest' %}
          {{content.southwestEmail | safe}}
        {% endif %}
        {% if session.courts === 'northWest' %}
          {{content.northwestEmail | safe}}
        {% endif %}
      </p>
      <p class="text">
        {% if session.courts === 'eastMidlands' %}
         {{content.eastmidlandsPhone | safe}}
        {% endif %}
        {% if session.courts === 'westMidlands' %}
         {{content.westmidlandsPhone | safe}}
        {% endif %}
        {% if session.courts === 'southWest' %}
         {{content.southwestPhone | safe}}
        {% endif %}
        {% if session.courts === 'northWest' %}
         {{content.northwestPhone | safe}}
        {% endif %}
      </p>

      <h2 class="heading-medium">{{content.ifMistake | safe}}</h2>
      <p class="text">
        {{content.changeYourApp | safe}}
      </p>
      <ul class="list list-bullet">
        <li>{{content.putALine | safe}}</li>
        <li>{{content.useBlackInk | safe}}</li>
      </ul>
      <p class="text">
        {{content.makeAlargeChange | safe}}
      </p>

      <h2 class="heading-medium">{{content.helpWithFees | safe}}</h2>
      {% if session.helpWithFeesReferenceNumber %}
        <p class="text">
          {{content.courtCheckApp | safe}}
        </p>
      {% else %}
        <p class="text">
          {{content.applyForHelp | safe}}
        </p>
        <p class="text">
          {{content.applyForHelpOnline | safe}}
        </p>
        <p class="text">
          {{content.writeHWF | safe}}
        </p>
      {% endif %}

      <h2 class="heading-medium">{{content.dividingMoney | safe}}</h2>
      <p class="text">
        {% if session.financialOrder === 'Yes' %}
          <p class="text">
            {{content.startFinancialProceedings1 | safe}}
          </p>
          <p class="text">
            {{content.startFinancialProceedings2 | safe}}
          </p>
        {% else %}
          <p class="text">
            {{content.consentOrder | safe}}
          </p>
          <p class="text">
            {{content.settle | safe}}
          </p>
        {% endif %}
      </p>

      <h2 class="heading-medium">{{content.whatHappensNext | safe}}</h2>
      <ul class="list list-number">
        <li>{{content.nextSteps01 | safe}}</li>
        <li>
          {{content.nextSteps02 | safe}}
          <ul class="list list-bullet">
            <li>{{content.nextSteps02a | safe}}</li>
            <li>{{content.nextSteps02b | safe}}</li>
          </ul>
          {% if session.reasonForDivorce === 'adultery' and session.reasonForDivorceAdulteryWishToName === 'Yes' %}
            {{content.nextSteps021 | safe}}
          {% endif %}
        </li>
        <li>{{content.nextSteps03 | safe}}</li>
        <li>{{content.nextSteps04 | safe}}</li>
        <li>{{content.nextSteps05 | safe}}</li>
        <li>{{content.nextSteps06 | safe}}</li>
      </ul>

      <h2 class="heading-small">{{content.defendDivorce | safe}}</h2>
      <p class="text">
        {{content.defendDivorceExplanation1 | safe}}
      </p>
      <p class="text">
        {{content.defendDivorceExplanation2 | safe}}
      </p>
      <p class="text">
        {{content.generalInformation | safe}}
      </p>
    </div>
  </div>

</main>

{% endblock %}
