<tr>
  <th>{{ content.callMeMaybe | safe }}</th>
  <td>
    {%- if fields.paymentTimeToCall.value === "morning" -%}
      {{ content.callMorning }}
    {%- elseif fields.paymentTimeToCall.value === "afternoon" -%}
      {{ content.callAfternoon }}
    {%- elseif fields.paymentTimeToCall.value === "anytime" -%}
      {{ content.callAnytime }}
    {%- endif -%}
  </td>
  <td><a class="link" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
<tr>
  <th>{{ content.paymentPhoneNumber | safe }}</th>
  <td>{{ fields.paymentPhoneNumber.value }}</td>
  <td><a class="link" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>