{% extends "question.html" %}
{% block question %}
{{ content.settlingYourFinances | safe }}
{% endblock %}

{% block form %}
<p class="govuk-body"> {{content.beforeYourBegin | safe }}</p>
<p class="govuk-body"> {{content.youNeedToGet | safe }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ content.haveNothingToSplit | safe }}</li>
    <li>{{ content.agreeOnHowYouWant | safe }}</li>
    <li>{{ content.disagreeOnTheSplit | safe }}</li>
</ul>
<p class="govuk-body"> {{content.youShouldReadMore | safe }}</p>
{% endblock %}

{% block saveAndClose %}{% endblock %}