{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  {% include "includes/phase_banner.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{content.title | safe}}</h1>
      <p class="text">{{content.info | safe}}</p>
      <p class="text">{{content.info2 | safe}}</p>
      <h2 class="heading-medium">{{content.contactTitle | safe}}</h2>
      <p class="text">{{content.contactPhone | safe}}</p>
      <p class="text">{{content.contactEmail | safe}}</p>

    </div>
  </div>

</main>

{% endblock %}