{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}

{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block form %}

<div class="text">
    <p>{{ content.explained | safe }}</p>

    <div class="panel panel-border-wide">
        <p>{{ content.indicates | safe }}</p>
    </div>

    <details>
            <summary>
                {{ content.findOutMore | safe }}
            </summary>
            <div class="panel panel-border-narrow font-small">
                <p>{{ content.legallyConnected | safe }}</p>
                <p>{{ content.answer | safe }}</p>
                <p>{{ content.notCompleteList | safe }}</p>
            </div>
        </details>

    <fieldset id="jurisdictionResidence" class="form-group {{ 'form-group-error' if fields.jurisdictionResidence.error }}">
        <legend class="form-label-bold">{{ content.instruction | safe }}</legend>
        <br>

        {{ errorsFor(fields.jurisdictionResidence) }}
        {{ radioButton(
        value = 'both',
        label = content.both,
        name = 'jurisdictionResidence',
        field = fields.jurisdictionResidence
        ) }}
        {{ radioButton(
        value = 'petitioner',
        label = content.onlyMe,
        name = 'jurisdictionResidence',
        field = fields.jurisdictionResidence
        ) }}
        {{ radioButton(
        value = 'respondent',
        label = content.onlyRespondent,
        name = 'jurisdictionResidence',
        field = fields.jurisdictionResidence
        ) }}
        {{ radioButton(
        value = 'neither',
        label = content.neither,
        name = 'jurisdictionResidence',
        field = fields.jurisdictionResidence
        ) }}

    </fieldset>
</div>
{% endblock %}
