{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}

{% block question %}
{{ content.heading | safe }}
{% endblock %}

{% block form %}

<div class="text jurisdiction">
    <p>{{ content.paragraph1 | safe }}</p>

    <p>{{ content.paragraph2 | safe }}</p>

    <details>
        <summary  class="summary">
            {{ content.help | safe }}
        </summary>
        <div class="panel panel-border-narrow font-small">
            <p>{{ content.helpText1 | safe }}</p>
            <div>{{ content.helpText2 | safe }}</div>
            <p>{{ content.helpText3 | safe }}</p>
            <p>{{ content.helpText4 | safe }}</p>
        </div>
    </details>

    <fieldset id="jurisdictionPetitionerDomicile" class="form-group inline {{ 'form-group-error' if fields.jurisdictionPetitionerDomicile.error }}">
        <legend class="heading-medium">{{ content.petitioner | safe }}</legend>

        {{ errorsFor(fields.jurisdictionPetitionerDomicile) }}
        {{ radioButton(
        value = 'Yes',
        label = content.yes,
        name = 'jurisdictionPetitionerDomicile',
        field = fields.jurisdictionPetitionerDomicile,
        dataTarget = 'jurisdictionRespondentDomicile',
        screenReader = content.petitioner
        ) }}
        {{ radioButton(
        value = 'No',
        label = content.no,
        name = 'jurisdictionPetitionerDomicile',
        field = fields.jurisdictionPetitionerDomicile,
        dataTarget = 'jurisdictionRespondentDomicile',
        screenReader = content.petitioner
        ) }}

    </fieldset>

    <fieldset id="jurisdictionRespondentDomicile" class="form-group inline {{ 'js-hidden' if fields.jurisdictionPetitionerDomicile.value === undefined }} {{ 'form-group-error' if fields.jurisdictionRespondentDomicile.error }}">
        <legend class="heading-medium">{{ content.respondent | safe }}</legend>

        {{ errorsFor(fields.jurisdictionRespondentDomicile) }}
        {{ radioButton(
        value = 'Yes',
        label = content.yes,
        name = 'jurisdictionRespondentDomicile',
        field = fields.jurisdictionRespondentDomicile,
        screenReader = content.respondent
        ) }}
        {{ radioButton(
        value = 'No',
        label = content.no,
        name = 'jurisdictionRespondentDomicile',
        field = fields.jurisdictionRespondentDomicile,
        screenReader = content.respondent
        ) }}

    </fieldset>

</div>

{% endblock %}
