{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

    <p class="text"> {{content.definition | safe }}</p>

    <fieldset class="form-group inline">
      <legend class="visually-hidden">{{ content.question | safe }}</legend>
      {{ yesNoRadioHeading(
          legend = content.question,
          name = 'marriedInUk',
          field = fields.marriedInUk,
          yes = content.yes,
          no = content.no,
          targetYes = '',
          targetNo = '',
          screenReader = content.question
      ) }}

    </fieldset>

{% endblock %}
