<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">{{ content.petitioner | safe }}</th>
  <td class="govuk-table__cell">{{ fields.jurisdictionPetitionerDomicile.value }}</td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.petitioner | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">{{ content.respondent | safe }}</th>
  <td class="govuk-table__cell">{{ fields.jurisdictionRespondentDomicile.value }}</td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.respondent | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>