{% from "common/components/formElements.html" import textField, radioButton, checkBox %}
{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

<div tabindex="-1" class="contact-details">

  <h2 class="govuk-heading-m">{{ content.byEmail | safe }}</h2>

  <p class="govuk-body">{{ content.communicateParagraph1 | safe }}</p>
  <p class="govuk-body">{{ content.communicateParagraph2 | safe }}</p>
  <p class="govuk-body govuk-!-font-weight-bold">{{ session.petitionerEmail }}</p>

  <div class="govuk-form-group {{ ' govuk-form-group--error' if fields.petitionerConsent.error }}">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend visually-hidden">{{ content.petitionerConsent | safe }}</legend>
      {{ errorsFor(fields.petitionerConsent) }}

      {{ checkBox(
      id = 'petitionerConsent',
      name = 'petitionerConsent',
      field = fields.petitionerConsent,
      value = fields.petitionerConsent.value,
      label = content.petitionerConsent
      ) }}

    </fieldset>
  </div>

<h2 class="govuk-heading-m">{{ content.byPhone | safe }}</h2>

  <div class="govuk-form-group {{ ' govuk-form-group--error' if fields.petitionerPhoneNumber.error }}">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>

      <p class="govuk-body">{{ content.communicateParagraph3 | safe }}</p>

      {{ textField(
        name = 'petitionerPhoneNumber',
        field = fields.petitionerPhoneNumber,
        label = content.petitionerPhoneNumber,
        boldLabel = true
      ) }}

    </fieldset>
  </div>

  <h2 class="govuk-heading-m">{{ content.byPost | safe }}</h2>

    <p class="govuk-body">{{ content.somePost | safe }}</p>

  {% if session.petitionerContactDetailsConfidential != 'share' %}
    <p class="govuk-body">{{ content.contactDetailsNotShare | safe }}</p>
    {% else %}
    <p class="govuk-body">{{ content.contactDetailsShare | safe }}</p>
  {% endif %}

</div>

{% endblock %}
