{% from "common/components/formElements.html" import textField, radioButton, checkBox %}
{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

<div tabindex="-1" class="contact-details">

  <p>{{ content.communicateParagraph1 | safe }}</p>

  {% if session.petitionerContactDetailsConfidential != 'share' %}
    <p class="panel panel-border-wide">{{ content.confidentialContactDetails | safe }}</p>
  {% endif %}

  <p>{{ content.communicateParagraph2 | safe }}</p>
  <p class="bold-medium">{{ session.petitionerEmail }}</p>

  <fieldset class="form-group confirmation-container {{ ' form-group-error' if fields.petitionerConsent.error }}">
    <legend class="visually-hidden">{{ content.petitionerConsent | safe }}</legend>
    {{ errorsFor(fields.petitionerConsent) }}

    {{ checkBox(
    id = 'petitionerConsent',
    name = 'petitionerConsent',
    field = fields.petitionerConsent,
    value = fields.petitionerConsent.value,
    label = content.petitionerConsent
    ) }}

  </fieldset>

  <fieldset class="form-group">
    <legend class="visually-hidden">{{ content.question | safe }}</legend>

    <p>{{ content.communicateParagraph3 | safe }}</p>

    {{ textField(
      name = 'petitionerPhoneNumber',
      field = fields.petitionerPhoneNumber,
      label = content.petitionerPhoneNumber
    ) }}

  </fieldset>

</div>

{% endblock %}
