{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}
{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block form %}

<div id="respondent-consent">
    <fieldset class="form-group inline">
        <legend class="visually-hidden">{{ content.question | safe }}</legend>
        {{  yesNoRadioHeading(
        legend = content.question,
        name = 'reasonForDivorceRespondentConsent',
        field = fields.reasonForDivorceRespondentConsent,
        yes = content.yes.label,
        no = content.no.label,
        targetYes = 'info-yes',
        targetNo = 'info-no',
        screenReader = content.question
        ) }}
    </fieldset>

    <div id="info-yes" class="panel js-hidden">
        <p class="text"> {{ content.yes.additionalInfo | safe }}</p>
    </div>

    <div id="info-no" class="panel js-hidden">
        <p class="text"> {{ content.no.additionalInfo | safe }}</p>
    </div>
</div>

{% endblock %}