{% from "common/components/formElements.html" import date %}
{% extends "question.html" %}

{% block question %}
    {{ content.question }}
{% endblock %}

{% block form %}

    {{ date(
        dayField = fields.marriageDateDay,
        dayName = 'marriageDateDay',
        monthField = fields.marriageDateMonth,
        monthName = 'marriageDateMonth',
        yearField = fields.marriageDateYear,
        yearName = 'marriageDateYear',
        dateField = fields.marriageDate,
        label= content.useTheDate,
        hint = content.exampleDate,
        id = 'marriageDate',
        hiddenLegend = content.question
    ) }}

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ content.duration | safe }}</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">
                {{ content.facts | safe }}
            </p>
            <p class="govuk-body">
                {{ content.options | safe }}
            </p>
            <p class="govuk-body">
                <span class="govuk-body govuk-!-font-weight-bold">{{ content.separated2YearsTitle | safe }}</span>
                - {{ content.separated2YearsDescription | safe }}
            </p>
            <p class="govuk-body">
                <span class="govuk-body govuk-!-font-weight-bold">{{ content.separated5YearsTitle | safe }}</span>
                - {{ content.separated5YearsDescription | safe }}
            </p>
            <p class="govuk-body">
                <span class="govuk-body govuk-!-font-weight-bold">{{ content.desertionTitle | safe }}</span>
                - {{ content.desertionDescription | safe }}
            </p>
           <p class="govuk-body">
            {{ content.stillCanUse | safe }}
           </p>
        </div>
    </details>

{% endblock %}
