{% from "common/components/formElements.html" import radioButton %}

{% extends "question.html" %}

{% block question %}
{{ content.question }}
{% endblock %}

{% block form %}

<fieldset id="method">
  <legend class="visually-hidden">
    {{ content.question }}
  </legend>

  <p class="text">
    {{ content.applicationFee }}
  </p>

  <div id="paymentMethod" class="form-group{{' error' if fields.paymentMethod.error }}">

    {{ errorsFor(fields.paymentMethod) }}

    {{ radioButton(
    value = 'card-phone-court',
    label = content.byCardOverPhoneCourt,
    name = 'paymentMethod',
    field = fields.paymentMethod
    ) }}

    {{ radioButton(
    value = 'cheque',
    label = content.byCheque,
    name = 'paymentMethod',
    field = fields.paymentMethod
    ) }}

  </div>

</fieldset>

{% endblock %}
