{% from "common/components/formElements.html" import textArea %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

    <p class="govuk-body">{{ content.description | safe }}</p>

    <div class="govuk-inset-text">
        <p class="govuk-body">{{ content.remember | safe }}</p>
    </div>

    <p class="govuk-body">{{ content.rejected | safe }}</p>

    {% if (fields.reasonForDivorceAdulteryKnowWhen.value === "Yes") %}
        {{ textArea(
            name='reasonForDivorceAdulteryWhenDetails',
            field=fields.reasonForDivorceAdulteryWhenDetails,
            label=content.whenDidAdulteryHappen
        ) }}

    {% endif %}

    {% if (fields.reasonForDivorceAdulteryKnowWhere.value === "Yes") %}
        {{ textArea(
            name='reasonForDivorceAdulteryWhereDetails',
            field=fields.reasonForDivorceAdulteryWhereDetails,
            label=content.whereDidAdulteryHappen
        ) }}
    {% endif %}

    {% if (fields.reasonForDivorceAdulteryKnowWhen.value === "No" and fields.reasonForDivorceAdulteryKnowWhere.value === "No") %}

        {{ textArea(
            name='reasonForDivorceAdulteryDetails',
            field=fields.reasonForDivorceAdulteryDetails,
            label=content.whatDoYouKnow
        ) }}

    {% else %}

        {{ textArea(
            name='reasonForDivorceAdulteryDetails',
            field=fields.reasonForDivorceAdulteryDetails,
            label=content.whatElseDoYouKnow
        ) }}

    {% endif %}

{% endblock %}
{% block extra_scripts %}
<script>
  window.DIVORCE.saveProgress();
</script>
{% endblock %}
