{% from "common/components/formElements.html" import textField %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% extends "question.html" %}

{% block question %}
  {%- if session.certificateInEnglish == 'No' -%}
    {{ content.questionTrans | safe}}
  {%- else -%}
    {{ content.question | safe}}
  {%- endif -%}
{% endblock %}

{% block form %}

<p class="govuk-body">
  {{content.copy|safe}}
</p>

{% set hintContent = content.hint %}
{%- if session.certificateInEnglish == 'No' -%}
  {% set hintContent = content.hintTrans %}
{%- endif -%}

{{ govukWarningText({
    text: hintContent | safe,
    iconFallbackText: content.warning
}) }}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend visually-hidden">
      {%- if session.certificateInEnglish == 'No' -%}
        {{ content.questionTrans | safe}}
      {%- else -%}
        {{ content.question | safe}}
      {%- endif -%}
    </legend>

  {%- if session.certificateInEnglish == 'No' -%}

    {{ textField(
    name = 'marriagePetitionerName',
    field = fields.marriagePetitionerName,
    label = content.marriagePetitionerNameTrans,
    boldLabel = true,
    hint = content.marriageNameHint
    ) }}

    {{ textField(
    name = 'marriageRespondentName',
    field = fields.marriageRespondentName,
    label = content.marriageRespondentNameTrans,
    boldLabel = true,
    hint = content.marriageNameHint
    ) }}

  {%- else -%}
    {{ textField(
    name = 'marriagePetitionerName',
    field = fields.marriagePetitionerName,
    label = content.marriagePetitionerName,
    boldLabel = true,
    hint = content.marriageNameHint
    ) }}

    {{ textField(
    name = 'marriageRespondentName',
    field = fields.marriageRespondentName,
    label = content.marriageRespondentName,
    boldLabel = true,
    hint = content.marriageNameHint
    ) }}
  {%- endif -%}
  </fieldset>

</div>

{% endblock %}

