{% from "common/components/formElements.html" import textField %}

{% extends "question.html" %}

{% block question %}
  {%- if session.certificateInEnglish == 'No' -%}
    {{ content.questionTrans | safe}}
  {%- else -%}
    {{ content.question | safe}}
  {%- endif -%}
{% endblock %}

{% block form %}

<p class="text">
  {{content.copy|safe}}
</p>

<div class="notice">
  <em class="icon icon-important">
    <span class="visuallyhidden">{{ content.warning }}</span>
  </em>
  <p class="bold-small">
    {%- if session.certificateInEnglish == 'No' -%}
      {{ content.hintTrans | safe}}
    {%- else -%}
      {{ content.hint | safe}}
    {%- endif -%}
  </p>
</div>

<fieldset class="form-group">
  <legend class="visually-hidden">
  {%- if session.certificateInEnglish == 'No' -%}
    {{ content.questionTrans | safe}}
  {%- else -%}
    {{ content.question | safe}}
  {%- endif -%}
</legend>


{%- if session.certificateInEnglish == 'No' -%}

  {{ textField(
  name = 'marriagePetitionerName',
  field = fields.marriagePetitionerName,
  label = content.marriagePetitionerNameTrans,
  boldLabel = true,
  hint = content.marriageNameHint
  ) }}

  {{ textField(
  name = 'marriageRespondentName',
  field = fields.marriageRespondentName,
  label = content.marriageRespondentNameTrans,
  boldLabel = true,
  hint = content.marriageNameHint
  ) }}

{%- else -%}
  {{ textField(
  name = 'marriagePetitionerName',
  field = fields.marriagePetitionerName,
  label = content.marriagePetitionerName,
  boldLabel = true,
  hint = content.marriageNameHint
  ) }}

  {{ textField(
  name = 'marriageRespondentName',
  field = fields.marriageRespondentName,
  label = content.marriageRespondentName,
  boldLabel = true,
  hint = content.marriageNameHint
  ) }}
{%- endif -%}
</fieldset>

{% endblock %}

