{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}

{% block question %}
    {{ content.heading | safe }}
{% endblock %}

{% block form %}

    <div class="govuk-body">
        <p class="govuk-body">{{ content[fields.jurisdictionConnectionFirst.value].summary | safe }}</p>


{%- if fields.jurisdictionConnectionFirst.value  -%}

    <details class="govuk-details">

        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ content[fields.jurisdictionConnectionFirst.value].help | safe }}</span>
        </summary>

        <div class="govuk-details__text">
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText1 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText2 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText3 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText4 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText5 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText6 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText7 | safe }}
            </p>
            <p class="govuk-body">
                {{ content[fields.jurisdictionConnectionFirst.value].helpText8 | safe }}
            </p>
        </div>
    </details>

{%- endif -%}
        <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.jurisdictionConfidentLegal.error }}">
            <fieldset id="jurisdictionConfidentLegal" class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ content.question | safe }}</legend>
                <p class="govuk-body">{{ content[fields.jurisdictionConnectionFirst.value].clarification | safe }}</p>

                {{ errorsFor(fields.jurisdictionConfidentLegal) }}
                <div class="govuk-radios govuk-radios--inline">
                    {{ radioButton(
                    value = 'Yes',
                    label = content.confident,
                    name = 'jurisdictionConfidentLegal',
                    field = fields.jurisdictionConfidentLegal
                    ) }}
                    {{ radioButton(
                    value = 'No',
                    label = content.needInfo,
                    name = 'jurisdictionConfidentLegal',
                    field = fields.jurisdictionConfidentLegal
                    ) }}
                </div>

            </fieldset>
        </div>
    </div>
{% endblock %}
