appName: 'frontend'
project: 'divorce'
environment: 'laptop'
version: 'x.x-laptop'
deployment_env: 'local'

log:
  ERROR: 1
  INFO: 1
  LOG: 1
  WARN: 1
  DEBUG: 1

http:
  port: 8080
  healthCheckport: 8080

service:
  name: 'divorce-frontend'

session:
  expires: 3600000 # ms (60 min)
  ttl: 86400 # s (1 day)

paths:
  index: '/'

services:
  redis:
    host: 'redis://localhost:6379'
  postcodeInfo:
    token: # Defined by POST_CODE_ACCESS_TOKEN in env
    url: # Defined by POST_CODE_URL in env
    timeout: 10000
  idamAuthentication:
    health: 'https://localhost:8000/health'
  idamApp:
    health: 'http://localhost:8001/health'
  featureToggleApiUrl: 'http://localhost:4400/api/v1/feature-toggle'
  featureToggleApi:
    health: 'http://localhost:4400/health'
  serviceAuthProvider:
    baseUrl: 'http://localhost:4502'
    health: 'http://localhost:4502/health'
    microserviceName: 'divorce_frontend'
    microserviceKey: # Microservice key should be defined as MICROSERVICE_KEY in env
  payment:
    baseUrl: 'http://localhost:4401'
    health: 'http://localhost:4401/health'
    serviceIdentification: 'DIV1'
  transformation:
    baseUrl: 'http://localhost:4003/transformationapi/version/1'
    draftBaseUrl: 'http://localhost:4003/draftsapi/version/1'
    health: 'http://localhost:4003/status/health'
  feeRegister:
    baseUrl: 'http://localhost:4421'
    health: 'http://localhost:4421/health'
    TTL: 43200 # time to save fee register records in seconds ( 12 hours = 43200 )

defaultEnvironmentNodeEnv: 'development'

secret: setasecretyoufool
sessionEncryptionSecret: myVeryTopSecretK

dateFormat: 'DD/MM/YYYY'
paymentDateFormat: 'DDMMYYYY'

commonProps:
  applicationFee: 
    code: 'X0165'
    description: 'Divorce fee'
    version: 1
    fee_amount: 550.00
  financialOrderApplicationFee: 255
  court:
    eastMidlands:
      phone: '0000 111 2220'
      divorceCentre: 'East Midlands'
      courtCity: 'City-in-East-Midlands'
      poBox: 'PO Box 1'
      postCode: 'POST C0DE1'
      openingHours: 'Monday to Friday, 8.30am to 5pm'
      email: 'simulate-delivered-eastmidlands@notifications.service.gov.uk'
      phoneNumber: '0000 111 2221'
      siteId: '1'
      weight: 0.20
    westMidlands:
      divorceCentre: 'West Midlands'
      courtCity: 'City-in-West-Midlands'
      poBox: 'PO Box 2'
      postCode: 'POST C0DE2'
      openingHours: 'Monday to Friday, 8.30am to 5pm'
      email: 'simulate-delivered-westmidlands@notifications.service.gov.uk'
      phoneNumber: '0000 111 2222'
      siteId: '2'
      weight: 0.20
    southWest:
      divorceCentre: 'South West'
      courtCity: 'City-in-South-West'
      poBox: 'PO Box 3'
      postCode: 'POST C0DE3'
      openingHours: 'Monday to Friday, 8.30am to 5pm'
      email: 'simulate-delivered-southwest@notifications.service.gov.uk'
      phoneNumber: '0000 111 2223'
      siteId: '3'
      weight: 0.36
    northWest:
      divorceCentre: 'North West'
      divorceCentreAddressName: 'Address Name'
      courtCity: 'City-in-North-West'
      street: '1 Example Street'
      postCode: 'POST C0DE4'
      openingHours: 'Monday to Friday, 8.30am to 5pm'
      email: 'simulate-delivered-northwest@notifications.service.gov.uk'
      phoneNumber: '0000 111 2224'
      siteId: '4'
      weight: 0.26
  smartSurveyFeedbackUrl: 'http://www.example.com/'
  smartSurveyFeedbackDonePageUrl: 'http://www.example.com/'
  courtPhoneNumber: '0000 111 2220'
  courtOpeningHour: 'Monday to Friday, 8.30am to 5pm'
  courtEmail: 'simulate-delivered@notifications.service.gov.uk'

features:
  idam: false
  fullPaymentEventDataSubmission: true

idamArgs:
  redirectUri: 'https://localhost:8080/authenticated'
  indexUrl: '/index'
  idamApiUrl: 'http://localhost:8001'
  idamLoginUrl: 'https://localhost:8000/login'
  idamSecret: '123456'
  idamClientID: 'divorce'

evidenceManagmentClient:
  url: http://localhost:4009
  health: http://localhost:4009/status/health
  uploadEndpoint: /emclientapi/version/1/uploadFiles

logging:
  tags:
    - divorce
    - frontend
    - application
    - D8

ssl:
  hpkp:
    maxAge: 86400
    sha256s: 'AbCdEf123=,XyzABC123='

google_analytics:
  eventTrackingUrl: https://localhost:8080/

rateLimiter:
  total: 3600 # 1 req/s on average per hour
  expire: 3600000
