{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}

{% block question %}
    {{ content.heading | safe }}
{% endblock %}

{% block form %}

    <div class="text jurisdiction">
        <p>{{ content.description | safe }}</p>

        <details>
            <summary>
                {{ content.connection | safe }}
            </summary>
            <div class="panel panel-border-narrow font-small">
                <p>{{ content.connectionText1 | safe }}</p>
                <p>{{ content.connectionText2 | safe }}</p>
                <p>{{ content.connectionText3 | safe }}</p>


            </div><br>
        </details>

            {{ yesNoRadioHeading(
                legend = content.description,
                name = 'jurisdictionLastHabitualResident',
                field = fields.jurisdictionLastHabitualResident,
                yes = content.yes,
                no = content.no,
                screenReader = content.heading
            ) }}

    </div>

{% endblock %}
