{% from "common/components/formElements.html" import radioButton, textField %}
{% extends "question.html" %}

{% block form %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset inline">
    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold text">{{ content.title | safe }}</legend>
    {{ errorsFor(fields.mockedOutcome) }}
    {{ radioButton(
      value = 'success',
      label = content.success,
      name = 'mockedOutcome',
      field = fields.mockedOutcome
    ) }}
    {{ radioButton(
      value = 'failure',
      label = content.failure,
      name = 'mockedOutcome',
      field = fields.mockedOutcome
    ) }}
  </fieldset>
</div>

{% endblock %}
