{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}
 <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.respondentSolicitorRepresented.error }}">
    <fieldset id="respondentSolicitorRepresented" class="govuk-fieldset">
        <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>
        {{ errorsFor(fields.respondentSolicitorRepresented) }}

        <div class="govuk-radios govuk-radios--inline">
            {{ radioButton(
                value = 'Yes',
                label = content.solicitor,
                name = 'respondentSolicitorRepresented',
                field = fields.respondentSolicitorRepresented
            ) }}
            {{ radioButton(
                value = 'No',
                label = content.correspondence,
                name = 'respondentSolicitorRepresented',
                field = fields.respondentSolicitorRepresented
            ) }}
        </div>
    </fieldset>
</div>

{% endblock %}
