{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

 <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.respondentCorrespondenceSendToSolicitor.error }}">
    <fieldset id="respondentCorrespondenceSendToSolicitor" class="govuk-fieldset">
        <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>
        {{ errorsFor(fields.respondentCorrespondenceSendToSolicitor) }}

        <div class="govuk-radios govuk-radios--inline">
            {{ radioButton(
                value = 'Yes',
                label = content.solicitor,
                name = 'respondentCorrespondenceSendToSolicitor',
                field = fields.respondentCorrespondenceSendToSolicitor
            ) }}
            {{ radioButton(
                value = 'No',
                label = content.correspondence,
                name = 'respondentCorrespondenceSendToSolicitor',
                field = fields.respondentCorrespondenceSendToSolicitor
            ) }}
        </div>

    </fieldset>
</div>

{% endblock %}
