<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    {{ content.question | safe }}<br/>
  </td>
  <td class="govuk-table__cell">
    {% if fields.respondentLivesAtLastAddress.value === 'Yes' %}
      {{ content.yes }}
    {% elseif fields.respondentLivesAtLastAddress.value === 'No' %}
      {{ content.no | safe }}
    {% elseif fields.respondentLivesAtLastAddress.value === 'Unknown' %}
      {{ content.unknown | safe }}
    {% endif %}
    {% if fields.livingArrangementsLastLivedTogetherAddress.value %}
      <span class="address">{{ fields.livingArrangementsLastLivedTogetherAddress.value.address | join("<br/>") | safe }}</span>
    {% endif %}
  </td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.question | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>