{% from "common/components/formElements.html" import radioButton, textField %}

{% extends "question.html" %}

{% block question %}
{{ content.question }}
{% endblock %}

{% block form %}

<p class="text">
    {{ content.whyPhone | safe }}
</p>

<p class="text">
    {{ content.noProcess | safe }}
</p>

<div class="form-group">

    {{ textField(
    name = 'paymentPhoneNumber',
    field = fields.paymentPhoneNumber,
    label = content.paymentPhoneNumber
    ) }}

</div>

<div id="paymentTimeToCall" class="form-group {{ 'form-group-error' if fields.paymentTimeToCall.error }}">
    <fieldset>

        <legend class="form-label-bold">
            {{ content.callMeMaybe }}
        </legend>

        <p class="form-hint">
            {{ content.callMeHint }}
        </p>

        {{ errorsFor(fields.paymentTimeToCall) }}

        <legend class="form-label-bold text">{{ content.question | safe }}</legend>
        {{ errorsFor(fields.financialOrder) }}
        {{ radioButton(
        value = 'morning',
        label = content.callMorning,
        name = 'paymentTimeToCall',
        field = fields.paymentTimeToCall
        ) }}
        {{ radioButton(
        value = 'afternoon',
        label = content.callAfternoon,
        name = 'paymentTimeToCall',
        field = fields.paymentTimeToCall
        ) }}
        {{ radioButton(
        value = 'anytime',
        label = content.callAnytime,
        name = 'paymentTimeToCall',
        field = fields.paymentTimeToCall
        ) }}
    </fieldset>
</div>

<p class="text">
    {{ content.openHours }}
</p>

{% endblock %}
