{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

    <p class="govuk-body">
        {{ content.line1 | safe }}
    </p>

    <p class="govuk-body">
        {{ content.line2 | safe }}
    </p>

    {{ yesNoRadioHeading(
        legend = content.question,
        name = 'screenHasRespondentAddress',
        field = fields.screenHasRespondentAddress,
        yes = content.yes,
        no = content.no,
        screenReader = content.question
    ) }}

{% endblock %}

{% block saveAndClose %}{% endblock %}