{% from "button/macro.njk" import govukButton %}
{% from "common/components/formElements.html" import textField, textArea %}
{% from "common/components/respondentSolicitorComponents.html" import solicitorSearch %}
{% from "common/components/customPageComponents.html" import nextStep %}
{% extends "question.html" %}
{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block two_thirds %}
<div class="govuk-body">
  <fieldset id="respondentSolicitorRepresented" class="govuk-fieldset">
    <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>

    {# Solicitors firms search section #}
    {{ solicitorSearch(session, content, csrfToken) }}

    {# Solicitors firms manual entry section #}
    <a class="govuk-button govuk-button--secondary govuk-!-margin-top-0">
      {{content.enterManuallyBtnText}}
    </a>
    {% block form %}
    <div class="govuk-form-group" id="enter-manually">
      {{ textField(
      name = 'respondentSolicitorName',
      field = fields.respondentSolicitorName,
      label = content.solicitorNameLabel,
      boldLabel = true
      ) }}

      {{ textField(
      name = 'respondentSolicitorReference',
      field = fields.respondentSolicitorReference,
      label = content.solicitorReferenceLabel,
      boldLabel = true
      ) }}

      {{ textField(
      name = 'respondentSolicitorEmail',
      field = fields.respondentSolicitorEmail,
      label = content.solicitorEmailLabel,
      boldLabel = true
      ) }}

      {{ textArea(
      name = 'respondentSolicitorAddress',
      field = fields.respondentSolicitorAddress,
      label = content.solicitorFirmAddressLabel,
      boldLabel = true
      ) }}
    </div>
    {% endblock %}
  </fieldset>
  {{ nextStep(content.continueBtnText, csrfToken) }}

  {% block saveAndClose %}{% include "includes/save_and_close.html" %}{% endblock %}
</div>

{% endblock %}
