{% extends "layout.html" %}

{% block page_title %}
{{ common.serviceName }} - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block cookie_message %}
<p>
    {{content.cookie | safe}}
    <a href="/cookie" target="_blank">{{content.cookieLink | safe }}</a>
</p>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
{% include "includes/phase_banner.html" %}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            {{content.title | safe}}
        </h1>
        <p class="text">
            {{content.applicationOnline | safe}}
        </p>
        <p class="text">
            {{content.bringRestOnline | safe}}
        </p>
        <p class="text">
            {{content.provideFeedback | safe}}
        </p>
        <p class="text">
            <a class="button skipAccessTest" href="/start" role="button">{{common.continue | safe}}</a>
        </p>
    </div>
    <div class="column-one-third">
        <!-- side nav -->
    </div>
</div>

{% include "includes/problem_with_this_page.html" %}

</main>

{% endblock %}
