{% from "common/components/formElements.html" import radioButton %}
{% from "common/components/helpConnections.html" import helpConnections %}
{% extends "question.html" %}

{% block question %}
    {{ content.heading | safe }}
{% endblock %}

{% block form %}

    <div class="govuk-body">
        <p class="govuk-body">
            {{content.description}}
        </p>
        <ul class="govuk-list govuk-list--bullet">
            {% for connectionType in session.jurisdictionConnection %}
                <li class="govuk-list govuk-list--bullet">
                    {{content['reason-'+connectionType]}}
                </li>
            {% endfor %}
        </ul>
        {{ helpConnections(common) }}
        <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.connectionSummary.error }}">
            <fieldset id="connectionSummary" class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ content.question | safe }}</legend>
                <p class="govuk-body">{{ content.clarification | safe }}</p>

                {{ errorsFor(fields.connectionSummary) }}
                {{ radioButton(
                    value = 'Yes',
                    label = content.confident,
                    name = 'connectionSummary',
                    field = fields.connectionSummary
                ) }}
                {{ radioButton(
                    value = 'No',
                    label = content.needInfo,
                    name = 'connectionSummary',
                    field = fields.connectionSummary
                ) }}
                {{ radioButton(
                    value = 'Manual',
                    label = content.showAll,
                    name = 'connectionSummary',
                    field = fields.connectionSummary
                ) }}

            </fieldset>

        </div>

    </div>
{% endblock %}
