{% from "common/components/formElements.html" import checkBoxCustom, radioButton %}

{% extends "question.html" %}

{% block question %}
    {{ content.title | safe }}
{% endblock %}

{% block form %}
    <p class="govuk-body">{{ content.disagreeWithPartener | safe }}</p>
    <p class="govuk-body">{{ content.financialOrders | safe }}</p>

    <div class="govuk-inset-text">
        <p class="govuk-body">{{ content.info | safe }}</p>
    </div>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ content.helpLink | safe }}</span>
        </summary>
        <div class="govuk-details__text">
            <div class="govuk-body govuk-!-font-weight-bold">{{ content.helpBothAgreeTitle | safe }}</div>
            <p class="govuk-body">
                {{ content.helpBothAgreeContent | safe }}
            </p>
            <div class="govuk-body govuk-!-font-weight-bold">{{ content.helpApplyingTitle | safe }}</div>
            <p class="govuk-body">
                {{ content.helpApplyingContent1 | safe }}
            </p>
            <p class="govuk-body">
                {{ content.helpApplyingContent2 | safe }}
            </p>
            <ul class='govuk-list govuk-list--bullet'>
                <li> {{ content.helpDontProceed | safe }} </li>
                <li> {{ content.helpProceedAlive | safe }} </li>
            </ul>
            <p class="govuk-body">
                {{ content.helpApplyingContent3 | safe }}
            </p>
            <p class="govuk-body">
                {{ content.helpApplyingContent4 | safe }}
            </p>
            <div class="govuk-body govuk-!-font-weight-bold">{{ content.helpChildMaintenanceTitle | safe }}</div>
            <p class="govuk-body">
                {{ content.helpChildMaintenanceContent | safe }}
            </p>
        </div>
    </details>

    <div id="financialOrder" class="govuk-form-group govuk-!-margin-bottom-3 {{ 'govuk-form-group--error' if fields.financialOrder.error }}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold text">{{ content.question | safe }}</legend>
            {{ errorsFor(fields.financialOrder) }}

            <div class="govuk-radios govuk-radios--inline">
                {{ radioButton(
                    value = 'Yes',
                    label = content.yes,
                    name = 'financialOrder',
                    field = fields.financialOrder,
                    dataTarget='financialOrderFor',
                    screenReader = content.question
                ) }}
                {{ radioButton(
                    value = 'No',
                    label = content.no,
                    name = 'financialOrder',
                    field = fields.financialOrder,
                    screenReader = content.question
                ) }}
            </div>
        </fieldset>
    </div>

    <div class="govuk-details__text govuk-!-margin-bottom-3 {{ 'govuk-form-group--error' if fields.financialOrderFor.error }} {{ 'js-hidden' if fields.financialOrder.value != 'Yes' }}" id="financialOrderFor">
        <fieldset class="govuk-fieldset inline">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold text">{{ content.whoItsFor | safe }}</legend>
            <p class="govuk-hint">{{ content.selectAll | safe }}</p>

            {{ errorsFor(fields.financialOrderFor) }}
            {{ checkBoxCustom(
            id = 'petitioner',
            name = 'financialOrderFor[]',
            value = 'petitioner',
            label = content.petitioner,
            field = fields.financialOrderFor
            ) }}

            {{ checkBoxCustom(
            id = 'children',
            name = 'financialOrderFor[]',
            value = 'children',
            label = content.children,
            field = fields.financialOrderFor
            ) }}

        </fieldset>
    </div>
{% endblock %}
