{% from "common/components/formElements.html" import textField %}
{% extends "question.html" %}
{% block question %}
{{ content.question | safe}}
{% endblock %}
{% block form %}

<fieldset class="form-group">
  <legend class="form-label-bold">{{ content.countryOfMarriage | safe }}</legend>
    {{ textField(
      name = 'countryName',
      field = fields.countryName,
      hint = content.countryName,
      label = content.countryName,
      labelClass = 'visually-hidden'
    ) }}
</fieldset>

<fieldset class="form-group">

      {% if session.certificateInEnglish === 'No' %}
        <legend class="form-label-bold">{{ content.placeOfMarriageTranslation | safe }}</legend>
        {{ textField(
          name = 'placeOfMarriage',
          field = fields.placeOfMarriage,
          hint = content.wordsOfTranslation,
          label = content.wordsOfTranslation,
          labelClass = 'visually-hidden'
        )}}
      {% else %}
        <legend class="form-label-bold">{{ content.placeOfMarriage | safe }}</legend>
        {{ textField(
          name = 'placeOfMarriage',
          field = fields.placeOfMarriage,
          label = content.copyPlaceOfMarriage,
          labelClass = 'visually-hidden'
        )}}

      {% endif %}
  </fieldset>

{% endblock %}