{% from "warning-text/macro.njk" import govukWarningText %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "hmcts-progress-bar/macro.njk" import hmctsProgressBar %}

{% extends "layout.html" %}

{% block back %}{% endblock %}

{% block breadcrumbs %}
  {% set html %}
    {{ common.feedback | safe }}
  {% endset %}
  {{ govukPhaseBanner({
    tag: {
      text: common.phase
    },
    html: html
  }) }}
{% endblock %}

{% block two_thirds %}
  {% set title = content.title %}
  {% if session.refusalRejectionReason|length %}
    {% set title = content.amendedApplictionTitle %}
  {% endif %}

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title govuk-!-margin-bottom-2">{{ title | safe}}</h1>
    <p class="govuk-panel__body govuk-!-margin-0">
      <span class="govuk-!-font-size-19">{{ content.caseReferenceNumber | safe }}</span><br/>
      <strong class="govuk-body-reference-number" aria-label="{{ session.caseId | a11yCharSeparator | safe }}">
        {{ session.caseId | insertHyphens | safe }}
      </strong>
    </p>
  </div>

  {% if fields.paymentCompleted.value %}
    <p class="govuk-body">{{ content.paymentSuccessful | safe }}</p>
  {% endif %}

  {# Email notification copy will be added only when notifications is implemented #}

  {{ hmctsProgressBar({
  items: [
  {
  label: { text: content.youApply },
  complete: true
  },
  {
  label: { text: content.yourResponds },
  active: true
  },
  {
  label: { text: content.continueDivorce }
  },
  {
  label: { text: content.divorceFinalised }
  }
  ]
  }) }}

  {% if session.refusalRejectionReason | length %}
    <p class="govuk-body">{{ content.emailConfirmation | safe }} <strong> {{ session.petitionerEmail }} </strong></p>
    <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ content.whatHappensNext | safe }}</h2>

    {% if (session.marriageCertificateFiles | length === 0) %}
      <ul class="govuk-list govuk-list--number">
        <li>
          <p class="govuk-body govuk-!-font-weight-bold">{{ content.amendedPostDocsResponse }}</p>
          <p class="govuk-body">{{ content.amendedPostDocsSubmitDocuments }}</p>
          <p class="govuk-body">{{ content.amendedPostDocsOriginalDocs }}</p>

          <address class="govuk-body govuk-!-font-weight-bold">
            {% if session.allocatedCourt.serviceCentreName %}
              {{ session.allocatedCourt.serviceCentreName | safe }}<br/> {{ content.careOf | safe }}
            {% endif %}
            {{ session.allocatedCourt.divorceCentre | safe }}<br/>
            {% if session.allocatedCourt.poBox %}
              {{ session.allocatedCourt.poBox | safe }}<br/>
            {% else %}
              {{ session.allocatedCourt.divorceCentreAddressName | safe }}<br/>
              {{ session.allocatedCourt.street | safe }} <br/>
            {% endif %}
            {{ session.allocatedCourt.courtCity | safe }}<br/>
            {{ session.allocatedCourt.postCode | safe }}
          </address>

          {{ govukWarningText({
              text: content.amendedPostDocsReferenceNumber,
              iconFallbackText: content.amendedPostDocsWarning
          }) }}
        </li>
        <li>
          <p class="govuk-body govuk-!-font-weight-bold">{{ content.amendedPostDocsCheckResponse }}</p>
          <p class="govuk-body">{{ content.amendedCourtCheck | safe }}</p>
          <p class="govuk-body">{{ content.amendedAmendedApplication | safe }}</p>
          <p class="govuk-body">{{ content.amendedUsedAdultery | safe }}</p>
          <p class="govuk-body">{{ content.amendedContactUs | safe }}</p>
        </li>
      </ul>
    {% else %}
      <p class="govuk-body">{{ content.amendedCourtCheck | safe }}</p>
      <p class="govuk-body">{{ content.amendedAmendedApplication | safe }}</p>
      <p class="govuk-body">{{ content.amendedUsedAdultery | safe }}</p>
      <p class="govuk-body">{{ content.amendedContactUs | safe }}</p>
    {% endif %}
  {% else %}
    {% if (session.marriageCertificateFiles | length === 0) %}
      <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ content.whatToDoNow | safe }}</h2>

      <h3 class="govuk-heading-s">{{ content.whatToDoNowReferenceNumber | safe }}</h3>
      {% if session.petitionerNameDifferentToMarriageCertificate === 'No' and session.marriedInUk === 'Yes' %}
        <p class="govuk-body">{{ content.whatToDoNowOrigCertOnly | safe }}</p>
      {% endif %}
      {% if session.petitionerNameDifferentToMarriageCertificate === 'Yes' or session.certifiedTranslation === 'Yes' %}
        <p class="govuk-body">{{ content.whatToDoNowRefNumText | safe }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ content.whatToDoNowOrigCert | safe }}</li>
          {% if session.petitionerNameDifferentToMarriageCertificate === 'Yes' %}
            <li>{{ content.whatToDoNowNameChange | safe }}</li>
          {% endif %}
          {% if session.certifiedTranslation === 'Yes' %}
            <li>{{ content.whatToDoNowCertTrans | safe }}</li>
          {% endif %}
        </ul>
      {% endif %}
      {% if session.petitionerNameDifferentToMarriageCertificate === 'Yes' or session.certifiedTranslation === 'Yes' %}
        <p class="govuk-body">{{ content.whatToDoNowRefNumPrtScr | safe }}</p>
      {% endif %}
      <h3 class="govuk-heading-s">{{ content.whatToDoNowPostHeading | safe }}</h3>
      <p class="govuk-body">{{ content.whatToDoNowPostText | safe }}</p>
      <address class="govuk-body govuk-!-font-weight-bold">
        {% if session.allocatedCourt.serviceCentreName %}
          {{ session.allocatedCourt.serviceCentreName | safe }}<br/> {{ content.careOf | safe }}
        {% endif %}
        {{ session.allocatedCourt.divorceCentre | safe }}<br/>
        {% if session.allocatedCourt.poBox %}
          {{ session.allocatedCourt.poBox | safe }}<br/>
        {% else %}
          {{ session.allocatedCourt.divorceCentreAddressName | safe }}<br/>
          {{ session.allocatedCourt.street | safe }}<br/>
        {% endif %}
        {{ session.allocatedCourt.courtCity | safe }}<br/>
        {{ session.allocatedCourt.postCode | safe }}
      </address>

      <p class="govuk-body">{{ content.certificateKept | safe }}</p>

      <h3 class="govuk-heading-s">{{ content.sendEmail | safe }}</h3>
      <p class="govuk-body">{{ content.email | safe }}</p>
      <p class="govuk-body">{{ content.emailTo | safe }}</p>

      <span class="govuk-body govuk-!-font-weight-bold">
        {{ session.allocatedCourt.email | safe if session.allocatedCourt.email }}
      </span>
    {% endif %}

    <h2 class="govuk-heading-m">{{ content.whatHappensNext | safe }}</h2>
    <p class="govuk-body">{{ content.courtWillCheck | safe }}</p>
    <p class="govuk-body">{{ content.youCanFindMore | safe }}</p>
    <p class="govuk-body">{{ content.contactTheCourt | safe }}</p>
  {% endif %}

  <h2 class="govuk-heading-m">{{ content.helpImproveService | safe }}</h2>
  <p class="govuk-body">
    {{ content.improveServiceContent | safe }}
  </p>

  <h2 class="govuk-heading-m">{{ content.getHelp | safe }}</h2>
  <p class="govuk-body">
    {{ content.getHelpDescription | safe }}
  </p>
  <p class="govuk-body">
    {{ session.allocatedCourt.email | safe if session.allocatedCourt.email }}
  </p>
  <p class="govuk-body">
    {{ session.allocatedCourt.phoneNumber | safe if session.allocatedCourt.phoneNumber }}
  </p>
  <p class="govuk-body">
   {{ session.allocatedCourt.openingHours | safe if session.allocatedCourt.openingHours }}
  </p>

  {% if session.helpWithFeesReferenceNumber %}
    <h2 class="govuk-heading-m">{{ content.helpWithFees | safe }}</h2>
    <p class="govuk-body">
      {{ content.courtCheckApp | safe }}
    </p>
    <p class="govuk-body">
      {{ content.youWillBeContacted | safe }}
    </p>
  {% endif %}

  {% if session.refusalRejectionReason|length === 0 %}
    <h2 class="govuk-heading-m">{{ content.dividingMoney | safe }}</h2>
    {% if session.financialOrder === 'Yes' %}
      <p class="govuk-body">
        {{ content.startFinancialProceedings1 | safe }}
      </p>
      <p class="govuk-body">
        {{ content.startFinancialProceedings2 | safe }}
      </p>
    {% else %}
      <p class="govuk-body">
        {{ content.consentOrder | safe }}
      </p>
      <p class="govuk-body">
        {{ content.settle | safe }}
      </p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block one_third %}
  <aside class="govuk-related-items" role="complementary">
    <h3 class="govuk-heading-m">{{ content.help }}</h3>
    <ul class="govuk-list govuk-body govuk-!-font-size-16 help">
      <li>
        <h4 class="govuk-heading-xs govuk-!-margin-0">{{ content.emailHeading }}</h4>
        <a class="govuk-link" href="mailto:{{ content.divorceEmail }}" aria-label="{{ content.email }} link">{{ session.allocatedCourt.email | safe if session.allocatedCourt.email }}</a><br>
      </li>
      <li>
        <h4 class="govuk-heading-xs govuk-!-margin-0">{{ content.phoneHeading }}</h4>
        {% if session.language == "cy" %}
          {{ commonProps.cy.courtPhoneNumber | safe }}<br>
          {{ commonProps.cy.courtOpeningHours | safe }}<br>
        {% else %}
          {{ commonProps.en.courtPhoneNumber | safe }}<br>
          {{ commonProps.en.courtOpeningHours | safe }}<br>
        {% endif %}
      </li>

      <li>
        {% if session.allocatedCourt.serviceCentreName %}
          {{ session.allocatedCourt.serviceCentreName | safe }}<br/> {{ content.careOf | safe }}
        {% endif %}
        {{ session.allocatedCourt.divorceCentre | safe }}<br/>
        {% if session.allocatedCourt.poBox %}
          {{ session.allocatedCourt.poBox | safe }}<br/>
        {% else %}
          {{ session.allocatedCourt.divorceCentreAddressName | safe }}<br/>
          {{ session.allocatedCourt.street | safe }}<br/>
        {% endif %}
        {{ session.allocatedCourt.courtCity | safe }}<br/>
        {{ session.allocatedCourt.postCode | safe }}
      </li>
    </ul>

    <h3 class="govuk-heading-m" id="subsection-title">{{ content.guidanceHeading }}</h3>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-body govuk-!-font-size-16">
        <li>{{ content.howToRespondLink | safe }}</li>
        <li>{{ content.decreeNisiLink | safe }}</li>
        <li>{{ content.decreeAbsoluteLink | safe }}</li>
        <li>{{ content.childrenAndDivorceLink | safe }}</li>
        <li>{{ content.moneyAndPropertyLink | safe }}</li>
     </ul>
    </nav>
  </aside>
{% endblock %}
