{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  {% include "includes/phase_banner.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{content.title | safe}}</h1>
        <p class="no-bottom-margin">
          {{ content.caseReferenceNumber | safe }}
          <br/>
          <strong class="text-reference-number">
            {{ session.caseId | insertHyphens | safe }}
          </strong>
        </p>
      </div>

      {% if fields.paymentCompleted.value %}
        <p class="text">{{ content.paymentSuccessful | safe }}</p>
      {% endif %}

      {# Email notification copy will be added only when notifications is implemented #}

      <div class="progress">
        <ol class="progress__list">
          <li class="progress__item progress__item--complete">
            <i class="progress__icon"><span class="visually-hidden">{{ content.complete }}</span></i>
            <span class="progress__label">{{ content.youApply }}</span>
          </li>
          <li class="progress__item progress__item--current">
            <i class="progress__icon"></i>
            <span class="progress__label">{{ content.yourRespondes }}</span>
          </li>
          <li class="progress__item">
            <i class="progress__icon"></i>
            <span class="progress__label">{{ content.continueDivorce }}</span>
          </li>
          <li class="progress__item">
            <i class="progress__icon"></i>
            <span class="progress__label">{{ content.divorceFinalised }}</span>
          </li>
        </ol>
      </div>

      {% if (session.marriageCertificateFiles | length === 0) %}
        <h2 class="heading-medium">{{content.whatToDoNow | safe}}</h2>

        <h3 class="heading-small">{{content.whatToDoNowReferenceNumber | safe}}</h3>
        {% if session.petitionerNameDifferentToMarriageCertificate === 'No' and session.marriedInUk === 'Yes' %}
          <p class="text">{{content.whatToDoNowOrigCertOnly | safe}}</p>
        {% endif %}
        {% if session.petitionerNameDifferentToMarriageCertificate === 'Yes' or session.certifiedTranslation === 'Yes' %}
          <p class="text">{{content.whatToDoNowRefNumText | safe}}</p>
          <ul class="list list-bullet">
            <li>{{content.whatToDoNowOrigCert | safe}}</li>

          {% if session.petitionerNameDifferentToMarriageCertificate === 'Yes' %}
            <li>{{content.whatToDoNowNameChange | safe}}</li>
          {% endif %}
          {% if session.certifiedTranslation === 'Yes' %}
            <li>{{content.whatToDoNowCertTrans | safe}}</li>
          {% endif %}
          </ul>
        {% endif %}
        {% if session.petitionerNameDifferentToMarriageCertificate === 'Yes' or session.certifiedTranslation === 'Yes' %}
          <p class="text">{{content.whatToDoNowRefNumPrtScr | safe}}</p>
        {% endif %}
        <h3 class="heading-small">{{content.whatToDoNowPostHeading | safe}}</h3>
        <p class="text">{{content.whatToDoNowPostText | safe}}</p>
          <address class="bold-small">
            {% if session.allocatedCourt.serviceCentreName %}
              {{ session.allocatedCourt.serviceCentreName }} <br/> {{ content.careOf }} 
            {% endif %}
            {{ session.allocatedCourt.divorceCentre }} <br/> 
            {% if session.allocatedCourt.poBox %}
              {{ session.allocatedCourt.poBox }} <br/> 
            {% else %}
              {{ session.allocatedCourt.divorceCentreAddressName }} <br/> {{session.allocatedCourt.street}} <br/>
            {% endif %}
            {{ session.allocatedCourt.courtCity }} <br/> {{ session.allocatedCourt.postCode }}
          </address>

          <p class="text">{{ content.certificateKept | safe }} </p>

          <h3 class="heading-small">{{content.sendEmail | safe}}</h3>
          <p class="text">{{ content.email | safe }} </p>
          <p class="text">{{ content.emailTo | safe }} </p>

          <span class="bold-small">
            {{ session.allocatedCourt.email | safe if session.allocatedCourt.email }}
          </span>
      {% endif %}


      <h2 class="heading-medium">{{content.whatHappensNext | safe}}</h2>
      <p class="text">{{content.courtWillCheck | safe}}</p>
      <p class="text">{{content.youCanFindMore | safe}}</p>
      <p class="text">{{content.contactTheCourt | safe}}</p>

      <h2 class="heading-medium">{{content.helpImproveService | safe}}</h2>
      <p class="text">
        {{content.improveServiceContent | safe}}
      </p>

      <h2 class="heading-medium">{{content.getHelp | safe}}</h2>
      <p class="text">
        {{content.getHelpDescription | safe}}
      </p>
      <p class="text">
        {{ session.allocatedCourt.email | safe if session.allocatedCourt.email }}
      </p>
      <p class="text">
        {{ session.allocatedCourt.phoneNumber | safe if session.allocatedCourt.phoneNumber }}
      </p>
      <p class="text">
        {{ session.allocatedCourt.openingHours | safe if session.allocatedCourt.openingHours }}
      </p>

      {% if session.helpWithFeesReferenceNumber %}
        <h2 class="heading-medium">{{content.helpWithFees | safe}}</h2>
        <p class="text">
          {{content.courtCheckApp | safe}}
        </p>
        <p class="text">
          {{content.youWillBeContacted | safe}}
        </p>
      {% endif %}

      <h2 class="heading-medium">{{content.dividingMoney | safe}}</h2>
      {% if session.financialOrder === 'Yes' %}
        <p class="text">
          {{content.startFinancialProceedings1 | safe}}
        </p>
        <p class="text">
          {{content.startFinancialProceedings2 | safe}}
        </p>
      {% else %}
        <p class="text">
          {{content.consentOrder | safe}}
        </p>
        <p class="text">
          {{content.settle | safe}}
        </p>
      {% endif %}

    </div>
  </div>

</main>

{% endblock %}
