{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}
{% block question %}
    {{ content.ques | safe }}
{% endblock %}

{% block form %}
            
        <p class="text">{{ content.info1 | safe }} </p>
        <p class="text">{{ content.info2 | safe }}</p>
        {{ yesNoRadioHeading(
            legend = content.ques,
            name ='livedApartEntireTime',
            field = fields.livedApartEntireTime,
            yes = content.yes,
            no = content.no,
            targetYes = '',
            targetNo = 'livedTogetherSince',
            screenReader = content.ques
        ) }}


        <div id="livedTogetherSince" class="js-hidden">
            <h2 class="heading-medium">
                {{ content.question.text }}
                {% if fields.livingTogetherMonths.value >= 6 %}
                    {{ content.question.6months }}
                {% elif fields.livingTogetherMonths.value < 6 %}
                    {% if fields.livingTogetherWeeks.value > 0 %}
                    {{ fields.livingTogetherWeeks.value }} {{ content.question.weeks }}
                {% endif %}
                {% if (fields.livingTogetherWeeks.value > 0) and (fields.liveTogetherPeriodRemainingDays.value > 0) %}
                    {{ content.question.and }}
                {% endif %}
                    {% if fields.liveTogetherPeriodRemainingDays.value > 0 %}
                    {{ fields.liveTogetherPeriodRemainingDays.value }} {{ content.question.days }}
                    {% endif %}
                {% endif %}
                {{ content.question.since }}
                {% if fields.livingTogetherMonths.value >= 6 %}
                    {{ fields.referenceDate.value }}
                {% elif fields.livingTogetherMonths.value < 6 %}
                    {{ fields.mostRecentSeparationDate.value }}
                {% endif %}
            </h2>

            <p>
                {% if fields.livingTogetherMonths.value >= 6 %}
                    {{ fields.referenceDate.value }} {{ content.question.exactDate }} {{ fields.sepYears.value }} {{ content.question.yearsAndMonths }}
                {% elif fields.livingTogetherMonths.value < 6 %}
                    {{ content.question.livedMore }}
                    {% if fields.livingTogetherWeeks.value > 0 %}
                        {{ fields.livingTogetherWeeks.value }} {{ content.question.weeks }} 
                    {% endif %}
                    {% if (fields.livingTogetherWeeks.value > 0) and (fields.liveTogetherPeriodRemainingDays.value > 0) %}
                        {{ content.question.and }}
                    {% endif %}
                    {% if fields.liveTogetherPeriodRemainingDays.value > 0 %}
                        {{ fields.liveTogetherPeriodRemainingDays.value }} {{ content.question.days }}
                    {% endif %}
                {% endif %} 
                {{ content.question.since }} {{ fields.mostRecentSeparationDate.value }} {{ content.question.needNotToUse }}
            </p>

            <details>
                <summary>
                    <span class="summary">{{content.howThisAffects | safe }}</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p class="text">{{ content.mustSpentYr | safe }}</p>
                    <p class="text">{{ content.onlyUpTo6Months | safe }}</p>
                    {% if fields.livingTogetherMonths.value >= 6 %}
                       <p class="text">{{ content.ifMoreThan6Months | safe }}</p>
                    {% elif fields.livingTogetherMonths.value < 6 %}
                       <p class="text">{{ content.ifLessThan6Months | safe }}</p>
                    {% endif %}
                </div>
            </details>

            {{ yesNoRadioHeading(
                legend = content.question1.text,
                name ='livedTogetherMoreTimeThanPermitted',
                field = fields.livedTogetherMoreTimeThanPermitted,
                yes = content.yes,
                no = content.no
            ) }}
        </div>
{% endblock %}
