{% from "common/components/formElements.html" import yesNoRadioHeading %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{content.help | safe }}</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">{{content.helpText1 | safe }}</p>
            <p class="govuk-body">{{content.helpText2 | safe }}</p>
        </div>
    </details>

    {{ yesNoRadioHeading(
    legend = content.question,
    name ='certificateInEnglish',
    field = fields.certificateInEnglish,
    yes = content.yes,
    no = content.no,
    targetYes = '',
    targetNo = 'certified-translation',
    screenReader = content.question
    ) }}

    <p class="govuk-body">{{ content.certifiedDescription | safe }}</p>

    {{ yesNoRadioHeading(
    legend = content.certifiedTranslation,
    name ='certifiedTranslation',
    field = fields.certifiedTranslation,
    yes = content.yes,
    no = content.no,
    screenReader = content.certifiedTranslation,
    legendHidden = false
    ) }}


{% endblock %}
