{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}
{% block question %}
    {% if fields.isRespSolToggleOn.value === true %}
        {{ content.featureToggleRespSol.question | safe }}
    {% else %}
        {{ content.question | safe }}
    {% endif %}
{% endblock %}

{% block form %}
    {% if fields.isRespSolToggleOn.value === true %}

    <p class="govuk-body">{{ content.featureToggleRespSol.correspondence | safe }}</p>

    <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.respondentCorrespondenceUseHomeAddress.error }}">
        <fieldset id="respondentCorrespondenceUseHomeAddress" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend visually-hidden">{{ content.updatedQuestion | safe }}</legend>
            {{ errorsFor(fields.respondentCorrespondenceUseHomeAddress) }}
            {{ radioButton(
                value = 'Yes',
                label = content.featureToggleRespSol.theirAddress,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress,
                dataTarget='conditional-their-address'
            ) }}
            <div id="conditional-their-address" class="govuk-radios__conditional {{ 'js-hidden' if fields.respondentCorrespondenceUseHomeAddress.value != 'Yes' }}">
              {% if fields.respondentCorrespondenceDisplayAddress.value %}
                <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ fields.respondentCorrespondenceDisplayAddress.value.address | join("<br/>") | safe }}
                </p>
              {% endif %}
            </div>
            {{ radioButton(
                value = 'Solicitor',
                label = content.featureToggleRespSol.solicitorAddress,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress,
                dataTarget='conditional-need-to-know-sol-firm'
            ) }}
            <div id="conditional-need-to-know-sol-firm" class="govuk-radios__conditional {{ 'js-hidden' if fields.respondentCorrespondenceUseHomeAddress.value != 'Solicitor' }}">
                <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ content.featureToggleRespSol.needToKnowSolFirm }}
                </p>
            </div>
            {{ radioButton(
                value = 'No',
                label = content.featureToggleRespSol.anotherAddress,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
        </fieldset>
    </div>

    {% else %}

    <p class="govuk-body">{{ content.correspondence | safe }}</p>

    {% if fields.respondentCorrespondenceDisplayAddress.value %}
        <p class="govuk-body">
            {{ fields.respondentCorrespondenceDisplayAddress.value.address | join("<br/>") | safe }}
        </p>
    {% endif %}

    <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.respondentCorrespondenceUseHomeAddress.error }}">
        <fieldset id="respondentCorrespondenceUseHomeAddress" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>
            {{ errorsFor(fields.respondentCorrespondenceUseHomeAddress) }}
            {{ radioButton(
                value = 'Yes',
                label = content.yes,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
            {{ radioButton(
                value = 'No',
                label = content.no,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
        </fieldset>
    </div>

    {% endif %}
{% endblock %}
