{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}
{% block question %}
    {% if fields.featureToggles.value.ft_represented_respondent_journey == "true" %}
        {{ content.ft_resp_sol.question | safe }}
    {% else %}
        {{ content.question | safe }}
    {% endif %}
{% endblock %}

{% block form %}
    {% if fields.featureToggles.value.ft_represented_respondent_journey == "true" %}

    <p class="govuk-body">{{ content.ft_resp_sol.correspondence | safe }}</p>

    <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.respondentCorrespondenceUseHomeAddress.error }}">
        <fieldset id="respondentCorrespondenceUseHomeAddress" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend visually-hidden">{{ content.updatedQuestion | safe }}</legend>
            {{ errorsFor(fields.respondentCorrespondenceUseHomeAddress) }}
            {{ radioButton(
                value = 'Yes',
                label = content.ft_resp_sol.theirAddress,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
            {{ radioButton(
                value = 'Solicitor',
                label = content.ft_resp_sol.solicitorAddress,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress,
                dataTarget='conditional-need-to-know-sol-firm'
            ) }}
            <div id="conditional-need-to-know-sol-firm" class="govuk-radios__conditional {{ 'js-hidden' if fields.respondentCorrespondenceUseHomeAddress.value != 'Solicitor' }}">
                <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ content.ft_resp_sol.needToKnowSolFirm }}
                </p>
            </div>
            {{ radioButton(
                value = 'No',
                label = content.ft_resp_sol.anotherAddress,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
        </fieldset>
    </div>

    {% else %}

    <p class="govuk-body">{{ content.correspondence | safe }}</p>

    {% if fields.respondentCorrespondenceDisplayAddress.value %}
        <p class="govuk-body">
            {{ fields.respondentCorrespondenceDisplayAddress.value.address | join("<br/>") | safe }}
        </p>
    {% endif %}

    <div class="govuk-form-group {{ 'govuk-form-group--error' if fields.respondentCorrespondenceUseHomeAddress.error }}">
        <fieldset id="respondentCorrespondenceUseHomeAddress2" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>
            {{ errorsFor(fields.respondentCorrespondenceUseHomeAddress) }}
            {{ radioButton(
                value = 'Yes',
                label = content.yes,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
            {{ radioButton(
                value = 'No',
                label = content.no,
                name = 'respondentCorrespondenceUseHomeAddress',
                field = fields.respondentCorrespondenceUseHomeAddress
            ) }}
        </fieldset>
    </div>

    {% endif %}
{% endblock %}
