{% from "common/components/formElements.html" import radioButton %}
{% extends "question.html" %}
{% block question %}
    {{ content.question | safe }}
{% endblock %}

{% block form %}

<p>
         {{ content.correspondence | safe }}
    </p>

    {% if fields.respondentCorrespondenceDisplayAddress.value %}
        <p>
            {{ fields.respondentCorrespondenceDisplayAddress.value.address | join("<br/>") | safe }}
        </p>
    {% endif %}


    <fieldset id="respondentCorrespondenceUseHomeAddress" class="form-group {{ 'form-group-error' if fields.respondentCorrespondenceUseHomeAddress.error }}">
        <legend class="visually-hidden">{{ content.question | safe }}</legend>
        {{ errorsFor(fields.respondentCorrespondenceUseHomeAddress) }}
        {{ radioButton(
            value = 'Yes',
            label = content.yes,
            name = 'respondentCorrespondenceUseHomeAddress',
            field = fields.respondentCorrespondenceUseHomeAddress
        ) }}
        {{ radioButton(
            value = 'No',
            label = content.no,
            name = 'respondentCorrespondenceUseHomeAddress',
            field = fields.respondentCorrespondenceUseHomeAddress
        ) }}
        {{ radioButton(
            value = 'Solicitor',
            label = content['solicitor-' + session.divorceWho],
            name = 'respondentCorrespondenceUseHomeAddress',
            field = fields.respondentCorrespondenceUseHomeAddress
        ) }}
    </fieldset>

{% endblock %}
