{% from "common/components/formElements.html" import textArea %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% extends "question.html" %}
{% block question %}
{{ content.question | safe }}
{% endblock %}
{% set maxExamples = 6 %}
{% set visibleExamples = 3 %}

{% block form %}

<p class="govuk-body">
    {{ content.explanation | safe }}
</p>

{{ govukWarningText({
    text: content.fault | safe,
    iconFallbackText: content.warning
}) }}

<p class="govuk-body">
    {{ content.overTime | safe }}
</p>

<div class="govuk-inset-text">
    <p class="govuk-body">
        {{ content.warning | safe }}
    </p>

</div>

<p class="govuk-body">
    {{ content.examples | safe }}
</p>

{% for example in range(0, maxExamples) %}

{{ behaviourExample(
    name='reasonForDivorceBehaviourDetails' + ('-'+loop.index if loop.index > 1),
    field=fields.reasonForDivorceBehaviourDetails,
    label=content.describe + ' ' + loop.index,
    id=example
) }}

{% endfor%}

<div id="add-example" style="display: none;">
    <a class="govuk-button govuk-button--secondary add-example-link" href="javaScript:void(0);" class="secondary-button add-example-link" onclick=" DIVORCE.addAttributeWhenVisible();DIVORCE.showAnotherExample();">
        {{ content.addAnother}}
    </a>
</div>

<br>

{% endblock %}
{% block extra_scripts %}
<script>
  DIVORCE.showAddExampleButton();
  window.DIVORCE.saveProgress();
</script>
{% endblock %}

{% macro behaviourExample(name, field, label, id='') %}
<div class="govuk-form-group {{ 'govuk-form-group--error' if field.error and id == 0}}
{{' js-hidden ' if id > visibleExamples-1 and fields.reasonForDivorceBehaviourDetails.value[id] == null }}"
     id="how-behaved-example-{{ id }}">

    <label class="govuk-label govuk-!-font-weight-bold" for="{{ name }}">{{ label | safe }}</label>

    {{ errorsFor(field) if id == 0 }}
        <textarea class="govuk-textarea {{ 'govuk-input--error' if field.error and id == 0}}"
                  id="{{ name }}"
                  rows="5"
                  name="reasonForDivorceBehaviourDetails[]"
                {% if id < visibleExamples  %}
                  onfocus="this.value=this.value.replace(/\.\.\.$/, '')"
                {% endif %}
                  >{% if fields.reasonForDivorceBehaviourDetails.value[id] %}{{ fields.reasonForDivorceBehaviourDetails.value[id] }}{% else %}{{ content.my }}{% endif %}</textarea>
</div>
{% endmacro %}
