{% from "common/components/formElements.html" import radioButton, yesNoRadio %}
{% extends "question.html" %}
{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block form %}
<p class="govuk-body">
{{ content.divorcePetitionCopy | safe }}
</p>

<div class="govuk-inset-text">
    <p class="govuk-body">
        {{ content.adultery | safe }}
    </p>

</div>

<p class="govuk-body">
{{ content.sameProperty | safe }}
</p>

<div id="petitionerContactDetailsConfidential" class="govuk-form-group {{ 'govuk-form-group--error' if fields.petitionerContactDetailsConfidential.error }}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend visually-hidden">{{ content.question }}</legend>
        {{ errorsFor(fields.petitionerContactDetailsConfidential) }}


        {{ radioButton(
            value = 'share',
            label = content.share,
            name = 'petitionerContactDetailsConfidential',
            field = fields.petitionerContactDetailsConfidential
        ) }}
        {{ radioButton(
            value = 'keep',
            label = content.keep,
            name = 'petitionerContactDetailsConfidential',
            field = fields.petitionerContactDetailsConfidential
        ) }}
    </fieldset>
</div>
{% endblock %}
