<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">{{ content.yourName | safe }}</th>
  <td class="govuk-table__cell">{{ fields.petitionerFirstName.value }} {{ fields.petitionerLastName.value }}</td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.yourName | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">{{ content.respondentName | safe }}</th>
  <td class="govuk-table__cell">{{ fields.respondentFirstName.value }} {{ fields.respondentLastName.value }}</td>
  <td class="govuk-table__cell"><a class="govuk-link" aria-label="{{ content.change }} {{ content.respondentName | safe }}" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>