<tr>
  <th>{{ content.question | safe }}</th>
  <td>
    {% if fields.jurisdictionResidence.value === 'both' %}
      {{ content.both | safe }}
    {% elseif fields.jurisdictionResidence.value === 'petitioner' %}
      {{ content.onlyMe | safe }}
    {% elseif fields.jurisdictionResidence.value === 'respondent' %}
      {{ content.onlyRespondent | safe }}
    {% elseif fields.jurisdictionResidence.value === 'neither' %}
      {{ content.neither | safe }}
    {% endif %}
  </td>
  <td><a class="link" href="{{ content.url | safe }}">{{ content.change }}</a></td>
</tr>
{%- if session.jurisdictionPath and session.jurisdictionPath | last === 'JurisdictionResidence' -%}
  {% include "app/services/oJurisdiction/legalCheckYourAnswersTemplate.html" %}
{%- endif -%}