{% extends "layout.html" %}

{% block pageTitle %}
  {{ common.serviceName }} - Cookies - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row cookies-page">
  <div class="group help-page cookie-settings">
    <div class="grid-row govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-xl">Cookies</h1>
      {% include "cookie-manager/cookie-success-banner.njk" %}
      <p class="govuk-body-m">Cookies are files saved on your phone, tablet or computer when you visit a website. Most websites need cookies to work properly.</p>
      <p class="govuk-body-m">This service uses cookies to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>store your cookie preferences</li>
        <li>measure how you use the service so it can be improved</li>
      </ul>
      <h2 class="govuk-heading-l">How cookies are used in this service</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="hint-ga">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">To measure application performance</legend>
          <div class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
            <p class="govuk-body-m">
              We use Dynatrace Software Intelligence Platform to provide an Application Performance Monitoring Service
              to collect information about how you use HMCTS services. We do this to monitor HMCTS services in order
              to resolve issues within our services as well as collect data on how our services can be improved.
              HMCTS store information about:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Site performance</li>
              <li>Website usage</li>
              <li>User behaviour</li>
            </ul>
            <p class="govuk-body-m">
              Information is presented within the Application Performance Monitoring service for the purposes detailed above.
              We do not use or share the information for any other purpose. We do not allow Dynatrace to use or
              share the information for any other purposes.
            </p>
            <table class="govuk-table cookie-table">
              <caption class="govuk-table__caption">Cookie details</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__header">dtCookie</td>
                  <td class="govuk-table__cell">
                    Tracks a visit across multiple request
                  </td>
                  <td class="govuk-table__cell">Session ends</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__header">dtLatC</td>
                  <td class="govuk-table__cell">
                    Measures server latency for performance monitoring
                  </td>
                  <td class="govuk-table__cell">Session ends</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__header">dtPC</td>
                  <td class="govuk-table__cell">
                    Required to identify proper endpoints for beacon transmission; includes session ID for correlation
                  </td>
                  <td class="govuk-table__cell">Session ends</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__header">dtSa</td>
                  <td class="govuk-table__cell">
                    Intermediate store for page-spanning actions
                  </td>
                  <td class="govuk-table__cell">Session ends</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__header">rxVisitor</td>
                  <td class="govuk-table__cell">
                    Visitor ID to correlate sessions
                  </td>
                  <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__header">rxvt</td>
                  <td class="govuk-table__cell">
                    Session timeout
                  </td>
                  <td class="govuk-table__cell">Session ends</td>
                </tr>
              </tbody>
            </table>
          </div>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Allow cookies that measure website application performance monitoring?</legend>
          <div class="govuk-radios govuk-radios--inline u-margin-top-30">
            <div class="govuk-radios__item">
              <input type="radio" name="apm" id="radio-apm-on" value="true" class="govuk-radios__input">
              <label for="radio-apm-on" class="govuk-label govuk-radios__label" id="radio-apm-on-label">
                <span>Use cookies that measure website application performance monitoring</span>
              </label>
              </input>
            </div>
            <div class="govuk-radios__item">
              <input type="radio" name="apm" id="radio-apm-off" value="false" class="govuk-radios__input" checked="checked">
              <label for="radio-apm-off" class="govuk-label govuk-radios__label" id="radio-apm-off-label">
                <span>Do not use cookies that measure website application performance monitoring</span>
              </label>
              </input>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group" style="display:none;">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Allow cookies that measure website use?
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="analytics" name="analytics" type="radio" value="on">
              <label class="govuk-label govuk-radios__label" for="analytics">
                Use cookies that measure my website use
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="analytics-2" name="analytics" type="radio" value="off" checked="">
              <label class="govuk-label govuk-radios__label" for="analytics-2">
                Do not use cookies that measure my website use
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <h3 class="govuk-heading-m">Essential cookies</h3>
      <p class="govuk-body">These essential cookies do things like making the service more secure. They always need to be on.</p>
      <p class="govuk-body">
        <a target="_blank" rel="noreferrer noopener" href="https://hmcts-access.service.gov.uk/cookies">
          Find out more about essential cookies (opens in new tab)
        </a>
      </p>
      <p id="save-cookie-preferences" class="govuk-body govuk-button-group"><a class="govuk-button" href="#">Save</a></p>
    </div>
  </div>
</div>
{% endblock %}
