{% extends "layout.html" %}

{% block pageTitle %}
  {{ common.serviceName }} - Cookies - GOV.UK
{% endblock %}

{% block content %}
<div class="cookies-page">
  <h1 class="govuk-heading-xl">Cookies</h1>
  {% include "cookie-manager/cookie-success-banner.njk" %}
  <p class="govuk-body-m">Cookies are files saved on your phone, tablet or computer when you visit a website. Most
    websites need cookies to work properly.</p>
  <p class="govuk-body-m">This service uses cookies to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>measure how you use the service so it can be updated and improved based on your needs</li>
    <li>remember the notifications you’ve seen so that you’re not shown them again</li>
    <li>temporarily store the answers you give</li>
  </ul>
  <h2 class="govuk-heading-l">How cookies are used in this service</h2>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">1. To store your cookie preferences</legend>
  <table class="govuk-table" aria-describedby="We set the following cookies to store your cookie preferences.">
    <caption class="govuk-table__caption">Cookie details</caption>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Purpose</th>
      <th class="govuk-table__header" scope="col">Expires</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">cookies_policy</td>
      <td class="govuk-table__cell">Your cookie preferences</td>
      <td class="govuk-table__cell">1 year</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">cookies_preferences_set</td>
      <td class="govuk-table__cell">Specifies if cookie preferences are set</td>
      <td class="govuk-table__cell">1 year</td>
    </tr>
  </table>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    2. To store the answers you’ve given during your visit (known as a ‘session’)</legend>
  <p class="govuk-body">Session cookies are stored on your computer as you travel through a website, and let the
    website know what you’ve seen and done so far. These are temporary cookies and are automatically deleted a
    short while after you leave the website.</p>
  <table class="govuk-table" aria-describedby="List of session cookies used.">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Purpose</th>
      <th class="govuk-table__header" scope="col">Expires</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">connect.sid</td>
      <td class="govuk-table__cell">Carries details of your current session</td>
      <td class="govuk-table__cell">Session ends</td>
    </tr>
  </table>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    3. To identify you when you come back to the service</legend>
  <p class="govuk-body">We use authentication cookies to identify you when you return to the service.</p>
  <table class="govuk-table" aria-describedby="List of authorisation cookies used.">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Purpose</th>
      <th class="govuk-table__header" scope="col">Expires</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">__auth-token</td>
      <td class="govuk-table__cell">Identifies you to the service</td>
      <td class="govuk-table__cell">Session ends</td>
    </tr>
  </table>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">4. To make the service more secure</legend>
  <p class="govuk-body">We set cookies which prevent attackers from modifying the contents of the other cookies we
    set. This makes the service more secure and protects your personal information.</p>
  <table class="govuk-table" aria-describedby="List of secirity cookies used.">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Purpose</th>
      <th class="govuk-table__header" scope="col">Expires</th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">TSxxxxxxxx</td>
      <td class="govuk-table__cell">Protects your session from tampering</td>
      <td class="govuk-table__cell">Session ends</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">__state</td>
      <td class="govuk-table__cell">Identifies you to the service and secures your authentication</td>
      <td class="govuk-table__cell">Session ends</td>
    </tr>
  </table>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">5. To measure website use</legend>
  <p class="govuk-body">We use Google Analytics software to collect information about how you use this service.
    We do this to help make sure the service is meeting the needs of its users and to help us make improvements,
    for example improving site search.</p>
  <p class="govuk-body">Google Analytics stores information about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the pages you visit</li>
    <li>how long you spend on each page</li>
    <li>how you got to the service</li>
    <li>what you click on while you’re visiting the service</li>
  </ul>
  <p class="govuk-body">We allow Google to use or share our analytics data. You can find out more about how Google
    use this information in their <a class="govuk-link" href="https://www.google.com/policies/privacy/partners/">Privacy Policy</a>.
  </p>
  <p class="govuk-body">You can <a class="govuk-link" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics</a>
    if you do not want Google to have access to your information.</p>
  <table class="govuk-table" aria-describedby="Google Analytics sets the following cookies">
    <caption class="govuk-table__caption">Cookie details</caption>
    <th class="govuk-table__header" scope="col">Name</th>
    <th class="govuk-table__header" scope="col">Purpose</th>
    <th class="govuk-table__header" scope="col">Expires</th>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">_ga</td>
      <td class="govuk-table__cell">This helps us count how many people visit the service by tracking if you’ve
        visited before</td><td class="govuk-table__cell">2 years</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">_gat</td>
      <td class="govuk-table__cell">Manages the rate at which page view requests are made</td>
      <td class="govuk-table__cell">10 minutes</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">_gid</td>
      <td class="govuk-table__cell">Identifies you to the service</td>
      <td class="govuk-table__cell">24 hours</td>
    </tr>
  </table>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">6. To measure application performance</legend>
    <p class="govuk-body-m">
      We use Dynatrace Software Intelligence Platform to provide an Application Performance Monitoring Service
      to collect information about how you use HMCTS services. We do this to monitor HMCTS services in order
      to resolve issues within our services as well as collect data on how our services can be improved.
      HMCTS store information about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Site performance</li>
      <li>Website usage</li>
      <li>User behaviour</li>
    </ul>
    <p class="govuk-body-m">
      Information is presented within the Application Performance Monitoring service for the purposes detailed above.
      We do not use or share the information for any other purpose. We do not allow Dynatrace to use or
      share the information for any other purposes.
    </p>
    <table class="govuk-table cookie-table">
    <caption class="govuk-table__caption">Cookie details</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Purpose</th>
        <th class="govuk-table__header" scope="col">Expires</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header">dtCookie</td>
        <td class="govuk-table__cell">Tracks a visit across multiple request</td>
        <td class="govuk-table__cell">Session ends</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">dtLatC</td>
        <td class="govuk-table__cell">Measures server latency for performance monitoring</td>
        <td class="govuk-table__cell">Session ends</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">dtPC</td>
        <td class="govuk-table__cell">
          Required to identify proper endpoints for beacon transmission; includes session ID for correlation</td>
        <td class="govuk-table__cell">Session ends</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">dtSa</td>
        <td class="govuk-table__cell">Intermediate store for page-spanning actions</td>
        <td class="govuk-table__cell">Session ends</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">rxVisitor</td>
        <td class="govuk-table__cell">Visitor ID to correlate sessions</td>
        <td class="govuk-table__cell">1 year</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">rxvt</td>
        <td class="govuk-table__cell">Session timeout</td>
        <td class="govuk-table__cell">Session ends</td>
      </tr>
    </tbody>
  </table>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Allow cookies that measure website use?</legend>
  <div class="govuk-radios govuk-radios">
    <div class="govuk-radios__item">
      <input type="radio" name="analytics" id="radio-analytics-on" value="true" class="govuk-radios__input">
      <label class="govuk-label govuk-radios__label" for="radio-analytics-on">
        Use cookies that measure my website use
      </label>
    </div>
    <div class="govuk-radios__item">
      <input type="radio" name="analytics" id="radio-analytics-off" value="false" class="govuk-radios__input" checked="">
      <label class="govuk-label govuk-radios__label" for="radio-analytics-off">
        Do not use cookies that measure my website use
      </label>
    </div>
  </div>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    Allow cookies that measure website application performance monitoring?</legend>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input type="radio" name="apm" id="radio-apm-on" value="true" class="govuk-radios__input">
      <label for="radio-apm-on" class="govuk-label govuk-radios__label" id="radio-apm-on-label">
        <span>Use cookies that measure website application performance monitoring</span>
      </label>
      </input>
    </div>
    <div class="govuk-radios__item">
      <input type="radio" name="apm" id="radio-apm-off" value="false" class="govuk-radios__input" checked="checked">
      <label for="radio-apm-off" class="govuk-label govuk-radios__label" id="radio-apm-off-label">
        <span>Do not use cookies that measure website application performance monitoring</span>
      </label>
      </input>
    </div>
  </div>
  <p id="save-cookie-preferences" class="govuk-body govuk-button-group"><a class="govuk-button" href="#">Save</a></p>
</div>
{% endblock %}
