{% extends "layout.html" %}

{% block two_thirds -%}

<h1 class="govuk-heading-l">Sorry you can't use the online service</h1>

<p class="govuk-body">You must have cookies enabled in your web browser to use this service.</p>

<p class="govuk-body">You can either:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>enable cookies in your web browser (you can do this in the privacy settings of most browsers)</li>
    <li>apply for a divorce using the <a class="govuk-link" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1115" target="_blank">paper D8 form</a></li>
</ul>

<a class="govuk-link" href="/cookie">Find out more about cookies</a>

{% endblock %}
