{% extends "layout.html" %}

{% block page_title %}
{{ common.serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">
  {% include "includes/phase_banner.html" %}
  <a class="govuk-back-link" href="#" onclick="history.go(-1); return false;">{{common.back}}</a>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            {% block heading %}{% endblock %}
          </h1>
          {% block exit_reason %}{% endblock %}

      </div>
      <div class="column-one-third">
          <!-- side nav -->
      </div>
  </div>

  {% include "includes/problem_with_this_page.html" %}

</main>
{% endblock %}

{% block saveAndClose %}{% endblock %}
