{% extends "layout.html" %}
{% from "common/errors.html" import errorsFor %}

{% block two_thirds %}
  {% if errors.length > 0 %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h1 class="govuk-error-summary__title" id="error-summary-title">
              {{ common.errorSummaryHeading | safe }}
          </h1>

          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in errors %}
                  <li><a href="#{{error.param}}">{{error.msg | safe}}</a></li>
              {% endfor %}
            </ul>
          </div>

      </div>
  {% endif %}

  <h1 class="govuk-heading-l">
      {% block question %}{% endblock %}
  </h1>

  <form method="POST" accept-charset="utf-8" class="form" id="form"
        enctype="{% block encoding %}application/x-www-form-urlencoded{% endblock %}"
        autocomplete="off">

      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      {% block form %}{% endblock %}

      {% block submitbutton %}
        <input class="govuk-button" type="submit" name="submit" value="{{common.continue}}">
      {% endblock %}

      {% block help %}{% endblock %}

      {% block saveAndClose %}{% include "includes/save_and_close.html" %}{% endblock %}
  </form>
{% endblock %}


{% macro checked(isChecked, answer) %}
  {%if isChecked == answer %}
    checked
  {% endif %}
{% endmacro %}