{% macro errorsFor(field) -%}
  {% if field.error %}
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ field.errorMessage | safe}}
    </span>
  {% endif %}
{%- endmacro %}

{% macro textArea(name, field, label, hint = '') %}
    <div class="govuk-form-group {{ 'govuk-form-group--error' if field.error }}">
        <label class="govuk-label govuk-!-font-weight-bold" for="{{ name }}">{{ label | safe }}</label>

        {% if hint %}
            <span class="govuk-hint">{{ hint | safe }}</span>
        {% endif %}

        {{ errorsFor(field) }}
        <textarea class="govuk-textarea {{ 'govuk-input--error' if field.error }}"
                  id="{{ name }}"
                  rows="7"
                  name="{{ name }}">{{ field.value }}</textarea>
    </div>
{% endmacro %}

{% macro textField(name, field, label, hint = '', boldLabel = false, labelClass = '') %}

    {% if labelClass %}
        {% set actualLabelClass = labelClass %}
    {% elif boldLabel %}
        {% set actualLabelClass = "govuk-!-font-weight-bold" %}
    {% else %}
        {% set actualLabelClass = "" %}
    {% endif %}

    <div class="govuk-form-group {{ 'govuk-form-group--error' if field.error }}">
        <label class="govuk-label {{ actualLabelClass }}" for="{{ name }}">{{ label | safe }}</label>

        {% if hint %}
            <span class="govuk-hint">{{ hint | safe }}</span>
        {% endif %}

        {{ errorsFor(field) }}
        <input class="govuk-input {{ 'govuk-input--error' if field.error }} govuk-input--width-20"
               id="{{ name }}"
               name="{{ name }}"
               type="text"
               value="{{ field.value }}">
    </div>
{% endmacro %}

{% macro date(dayField, dayName = 'day', monthField, monthName = 'month',yearField, yearName = 'year',dateField,label = '',hint = '', legend = '',hiddenLegend  = '', id, additionalErrors = [], index = 1) %}

    {% set hasError = dateField.error or dayField.error or monthField.error or yearField.error %}

    {% for i in range(0, additionalErrors.length) -%}
      {% set hasError = hasError or additionalErrors[i].error %}
    {%- endfor %}

    <div class="govuk-form-group {{ 'govuk-form-group--error' if hasError }}">

      <fieldset class="govuk-fieldset form-date" id="{{ id }}">
          {% if legend %}
              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">{{ legend | safe }}</legend>
          {% endif %}

          {% if hiddenLegend %}
              <legend class="govuk-fieldset__legend visually-hidden">{{ hiddenLegend | safe }}</legend>
          {% endif %}

          {% if label %}
              <span class="govuk-label">{{ label | safe }}</span>
          {% endif %}

          {% if hint %}
              <span class="govuk-hint">{{ hint | safe }}</span>
          {% endif %}

          {{ errorsFor(dateField) }}
          {{ errorsFor(dayField) }}
          {{ errorsFor(monthField) }}
          {{ errorsFor(yearField) }}

          {% for i in range(0, additionalErrors.length) -%}
            {{ errorsFor(additionalErrors[i]) }}
          {%- endfor %}

          <div class="govuk-date-input">

            <div class="govuk-date-input__item govuk-form-group-day ">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ dayName }}">Day</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ 'govuk-input--error' if dayField.error}}" id="{{ dayName }}"
                       name="{{ dayName }}" value="{{ dayField.value }}" maxlength="2">
               </div>
            </div>
            <div class="govuk-date-input__item govuk-form-group-month ">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ monthName }}">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2  {{ 'govuk-input--error' if monthField.error }}" id="{{ monthName }}"
                       name="{{ monthName }}" value="{{ monthField.value }}" maxlength="2">
               </div>
            </div>
            <div class="govuk-date-input__item govuk-form-group-year ">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ yearName }}">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {{ 'govuk-input--error' if yearField.error}}" id="{{ yearName }}"
                       name="{{ yearName }}" value="{{ yearField.value }}" maxlength="4">
               </div>
            </div>

          </div>
      </fieldset>

    </div>
{% endmacro %}

{% macro yesNoRadio(label = '', hint, name, field, yes, no) %}
    <div id="{{ name }}" class="govuk-form-group {{ 'govuk-form-group--error' if field.error }}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-label text">{{ label | safe }}</legend>
            <p class="govuk-hint">{{ hint | safe }}</p>
            {{ errorsFor(field) }}
            {{ radioButton('Yes', yes, name, field) }}
            {{ radioButton('No', no, name, field) }}
        </fieldset>
    </div>
{% endmacro %}

{% macro yesNoRadioHeading(legend, name, field, yes, no, hint = '', targetYes = '', targetNo = '', screenReader = '', legendHidden=true) %}
    <div id="{{ name }}" class="govuk-form-group {{ 'govuk-form-group--error' if field.error }}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m {{ 'visually-hidden' if legendHidden }}">{{ legend | safe }}</legend>

            {% if hint %}
              <span id="{{ field.id }}-hint" class="govuk-hint">{{ hint | safe }}</span>
            {% endif %}

            {{ errorsFor(field) }}

            <div class="govuk-radios govuk-radios--inline">
              {{ radioButton('Yes', yes, name, field, targetYes, screenReader) }}
              {{ radioButton('No', no, name, field, targetNo, screenReader) }}
            </div>
       </fieldset>
    </div>
{% endmacro %}

{% macro radioButton(value, label, name, field, dataTarget = '', screenReader = '') %}
   <div class="govuk-radios__item" data-target="{{ dataTarget }}">
      <input class="govuk-radios__input" id="{{ name }}_{{ value }}" type="radio" name="{{ name }}"
               value="{{ value }}" {{ 'checked=checked ' if field.value === value }}  >
      <label for="{{ name }}_{{ value }}" class="govuk-label govuk-radios__label">
        {%- if screenReader -%}
        <span class="visually-hidden">{{ screenReader | safe }}</span>
        {%- endif -%}
        {{ label | safe }}
      </label>
    </div>
{% endmacro %}

{% macro checkBox(id, name, label, field) %}
    <div class="govuk-checkboxes__item">
      <input type="hidden" name="hidden-{{ name }}" value="No">
      <input id="{{ id }}"
               name="{{ name }}"
               type="checkbox"
               value="Yes"
            {{ 'checked=checked '  if field.value == 'Yes' }}
            class="govuk-checkboxes__input">
      <label class="govuk-label govuk-checkboxes__label" for="{{ id }}">
        {{ label | safe }}
      </label>
    </div>
{% endmacro %}

{% macro checkBoxCustom(id, name, field, value, label, title, dataTarget = '', arialabelledBy) %}


    <div class="govuk-checkboxes__item" data-target="{{ dataTarget }}">
      <input id="{{ id }}"
             type="checkbox"
             name="{{ name }}"
             value="{{ value }}"
             {% if arialabelledBy %}
             aria-labelledby="{{arialabelledBy}}"
             {% endif %}
             {% for item in field.value %}
                  {{ ' checked=checked ' if item === value }}
             {%endfor%}
             class="govuk-checkboxes__input"
      >
      <label class="govuk-label govuk-checkboxes__label" for="{{ id }}">{{ label | safe }}</label>
      {% if title %}{{ title | safe }}<br> {% endif %}
    </div>

{% endmacro %}

{% macro inputTextLabel(id, name, content, field) %}
    <label class="govuk-!-font-weight-bold" for="{{id}}">{{content | safe}}</label>
    {{ errorsFor(field) }}
    <input class="form-control" role="textbox" id="{{id}}" name="{{name}}" type="text" value="{{field.value}}">
{% endmacro %}


{% macro inputRadioLabel(id, name, content, field, value, target) %}
  <div class="govuk-form-group" {% if target %} data-target="{{target}}"{% endif %}>
      <input id="{{id}}" name="{{name}}" value="{{value}}" type="radio" {{checked(field.value, value)}}>
      <label for="{{id}}">
        {{content | safe}}
      </label>
  </div>
{% endmacro %}
