{% macro genderComponent(gender, identifyAs, whoIdentifyAs) %}

  <div class="govuk-form-group">
    <fieldset id="gender" class="govuk-fieldset">
      <span class="govuk-label">Gender (optional)</span>
      <span class="govuk-hint">This is used for National Statistics</span>
      <legend class="govuk-fieldset__legend visually-hidden">Gender</legend>
      <div class="govuk-radios__item">
        <input id="female"
                name="gender"
                value="female"
                type="radio"
                {{"checked" if gender == 'female'}}>
        <label for="female">
          Female
        </label>
      </div>
      <div class="govuk-radios__item">
        <input id="male"
                name="gender"
                value="male"
                type="radio"
                {{ "checked" if gender == 'male' }}>
        <label for="male">
          Male
        </label>
      </div>
      <div class="govuk-radios__item" data-target="identify-as">
        <input id="other"
                 name="gender"
                 value="other"
                 type="radio"
                 {{ "checked" if gender == 'other' }}>
        <label for="other" >
          Other gender identity
        </label>
      </div>
      <div class="govuk-details__text js-hidden {{ "error" if identifyAs.error }}" id="identify-as">
        <label class="govuk-label" for="identity">{{whoIdentifyAs}} identify as:</label>
          <input
            class="form-control"
            id="identity"
            name="identifyAs"
            type="text"
            value={{identifyAs.value}}>
      </div>
    </fieldset>
  </div>

{% endmacro %}
