{% macro helpConnections(common) %}
<details>
    <summary>
        <span class="summary">{{ common.findOutMore | safe }}</span>
    </summary>
    <div class="panel panel-border-narrow font-small">
        <h2 class="heading-medium">{{ common.habitualresidenttitle | safe
            }}</h2>

        <p>
            {{ common.helpText1 | safe }}
        </p>

        <p>
            {{ common.helpText2 | safe }}
        </p>

        <p>
            {{ common.helpText3 | safe }}
        </p>

        <h2 class="heading-medium">{{ common.domicilehelptitle | safe }}</h2>

        <p>{{ common.helpText4 | safe }}</p>

        <p>{{ common.helpText5 | safe }}</p>

        <p>{{ common.domicileBulletHeading | safe }}</p>
        <ul class="list list-bullet">
            <li class="list list-bullet">{{ common.bullet1 | safe }}</li>
            <li class="list list-bullet">{{ common.bullet2 | safe }}</li>
        </ul>
        <p> {{ common.textbelowbullet | safe }}</p>

        <p> {{ common.textbellowbullet1 | safe }}</p>

        <h2 class="heading-medium">{{ common.residualjurisdiction | safe }}</h2>

        <p> {{ common.textbelowresidualjurisdiction1 | safe }} </p>

        <p> {{ common.textbelowresidualjurisdiction2 | safe }} </p>
        <ul class="list list-bullet">
            <li class="list list-bullet">
                {{ common.bulletRJ1 | safe }}
            </li>
            <li class="list list-bullet">
                {{ common.bulletRJ2 | safe }}
            </li>
            <li class="list list-bullet">
                {{ common.bulletRJ3 | safe }}
            </li>
        </ul>
        <p>{{ common.lastparaRJ}}</p>
    </div>
</details>
{% endmacro %}