{% from "button/macro.njk" import govukButton %}
{% from "common/components/formElements.html" import textField, textArea, errorsFor %}

{#
solicitorSearch
session     - (required) Current user session
content     - (required) Current user context
csrfToken   - (required) Current csrfToken, provided by the system
Renders a search box and button, behaviour controlled by module
#}
{% macro solicitorSearch(session, content, csrfToken) %}
<div class="govuk-form-group {{ 'govuk-form-group--error' if session.respondentSolicitorFirmError.error }}" id="solicitor-search">
  <fieldset id="respondentSolicitorRepresented" class="govuk-fieldset">
    {{ errorsFor(session.respondentSolicitorFirmError) }}
    <form method="POST" accept-charset="utf-8" class="form" id="searchform"
          enctype="application/x-www-form-urlencoded"
          autocomplete="off">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" name="userAction" value="search">
      <div class="govuk-form-group">
        {{ textField(
        name = 'respondentSolicitorFirm',
        field = fields.respondentSolicitorFirm,
        label = content.solicitorFirmLabel,
        boldLabel = true
        ) }}

        {{ govukButton({
        text: content.searchButton,
        classes: 'govuk-button govuk-!-margin-bottom-1 govuk-!-margin-top-1',
        preventDoubleClick: true
        }) }}
      </div>
    </form>
  </fieldset>
</div>
{% endmacro %}

{#
solicitorSearch
session     - (required) Current user session
content     - (required) Current user context
csrfToken   - (required) Current csrfToken, provided by the system
Renders a search result list if available with button to select/deselect.
It decides to render if the "organisations" object is not null, behaviour controlled by module
#}
{% macro solicitorSearchResult(session, content, csrfToken) %}
{%- if session.organisations | length > 0 -%}
<div class="govuk-form-group" id="solicitor-search-results">
  <input type="hidden" name="manual" value="manual">
  <h1 class="govuk-label--s govuk-label {{ 'js-hidden' if session.respondentSolicitorOrganisation }}">
    {{content.resultsLabel}}
  </h1>
  <div class="govuk-main-wrapper govuk-!-padding-top-1 govuk-!-padding-bottom-0">
    {%- if session.respondentSolicitorOrganisation -%}
    {% set contactInformation = session.respondentSolicitorOrganisation.contactInformation | first %}
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-!-margin-0">
          <strong>{{session.respondentSolicitorOrganisation.name}}</strong>
          {%- if contactInformation.addressLine1 -%} <br>{{contactInformation.addressLine1}} {%- endif -%}
          {%- if contactInformation.addressLine2 -%} <br>{{contactInformation.addressLine2}} {%- endif -%}
          {%- if contactInformation.addressLine3 -%} <br>{{contactInformation.addressLine3}} {%- endif -%}
          {%- if contactInformation.county -%} <br>{{contactInformation.county}} {%- endif -%}
          {%- if contactInformation.postCode -%} <br>{{contactInformation.postCode}} {%- endif -%}
          {%- if contactInformation.townCity -%} <br>{{contactInformation.townCity}} {%- endif -%}
          {%- if contactInformation.country -%} <br>{{contactInformation.country}} {%- endif -%}
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-padding-top-5">
        <form method="POST" accept-charset="utf-8" class="form" id="deselection"
              enctype="application/x-www-form-urlencoded"
              autocomplete="off">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" name="userAction" value="deselection">
          {{ govukButton({
          name: 'deselect-'+organisation.organisationIdentifier,
          text: content.deselectBtnText,
          classes: 'govuk-button govuk-button--secondary',
          preventDoubleClick: true
          }) }}
        </form>
      </div>
    </div>
    {%- else -%}
    {%- for organisation in session.organisations -%}
    {% set contactInformation = organisation.contactInformation | first %}
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-!-margin-0">
          <strong>{{organisation.name}}</strong>
          {%- if contactInformation.addressLine1 -%} <br>{{contactInformation.addressLine1}} {%- endif -%}
          {%- if contactInformation.addressLine2 -%} <br>{{contactInformation.addressLine2}} {%- endif -%}
          {%- if contactInformation.addressLine3 -%} <br>{{contactInformation.addressLine3}} {%- endif -%}
          {%- if contactInformation.county -%} <br>{{contactInformation.county}} {%- endif -%}
          {%- if contactInformation.postCode -%} <br>{{contactInformation.postCode}} {%- endif -%}
          {%- if contactInformation.townCity -%} <br>{{contactInformation.townCity}} {%- endif -%}
          {%- if contactInformation.country -%} <br>{{contactInformation.country}} {%- endif -%}
        </p>
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-padding-top-5">
        <form method="POST" accept-charset="utf-8" class="form" id="result_{{organisation.organisationIdentifier}}"
              enctype="application/x-www-form-urlencoded"
              autocomplete="off">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" name="userAction" value="selection">
          <input type="hidden" name="userSelection" value="{{organisation.organisationIdentifier}}">
          {{ govukButton({
          name: 'select-'+organisation.organisationIdentifier,
          text: content.selectBtnText,
          classes: 'govuk-button govuk-button--secondary',
          preventDoubleClick: true
          }) }}
        </form>
      </div>
    </div>
    {%- endfor -%}
    {%- endif -%}
  </div>
  <div class="govuk-inset-text">
    <p>{{content.searchNoOptionFoundText}}</p>
    <form method="POST" accept-charset="utf-8" class="form" id="noneFound"
          enctype="application/x-www-form-urlencoded"
          autocomplete="off">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" name="userAction" value="manual">
      {{ govukButton({
      text: content.enterManuallyBtnText,
      classes: 'govuk-button govuk-button--secondary govuk-!-margin-top-0',
      preventDoubleClick: true
      }) }}
    </form>
  </div>
</div>
{%- endif -%}
{% endmacro %}


{#
searchNoResults
session     - (required) Current user session
content     - (required) Current user context
csrfToken   - (required) Current csrfToken, provided by the system
Renders a default message when no result found.
It decides to render if the "organisations" object is null and there is no search term
Behaviour controlled by module
#}
{% macro searchNoResults(session, content, csrfToken) %}
{%- if not session.organisations | length and session.respondentSolicitorFirm -%}
<div class="govuk-form-group" id="solicitor-search-no-results">
  <p>{{content.searchNoResults.paragraph1}}</p>
  <p>{{content.searchNoResults.paragraph2}}</p>
  <p>{{content.searchNoResults.paragraph3}}</p>
  <form method="POST" accept-charset="utf-8" class="form" id="noResults"
        enctype="application/x-www-form-urlencoded"
        autocomplete="off">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="userAction" value="manual">
    {{ govukButton({
    text: content.enterManuallyBtnText,
    classes: 'govuk-button govuk-button--secondary govuk-!-margin-top-0',
    preventDoubleClick: true
    }) }}
  </form>
</div>
{%- endif -%}
{% endmacro %}




