{% from "common/components/formElements.html" import radioButton, textArea, checkBox %}

{% extends "question.html" %}

{% block question %}
    {{ content.title | safe }}
{% endblock %}

{% block form %}
    <p class="govuk-body">{{ content.courtNeedsToKnow | safe }}</p>
    <p class="govuk-body">{{ content.onGoingProceedings | safe }}</p>
    <p class="govuk-body">{{ content.includeProceedings | safe }}</p>

    <div id="legalProceedings" class="govuk-form-group {{ 'govuk-form-group--error' if fields.legalProceedings.error }}">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold text">{{ content.question | safe }}</legend>
            {{ errorsFor(fields.legalProceedings) }}
            <div class="govuk-radios govuk-radios--inline">
                {{ radioButton(
                    value = 'Yes',
                    label = content.yes,
                    name = 'legalProceedings',
                    field = fields.legalProceedings,
                    dataTarget='further-details'
                ) }}
                {{ radioButton(
                    value = 'No',
                    label = content.no,
                    name = 'legalProceedings',
                    field = fields.legalProceedings
                ) }}
            </div>
        </fieldset>
    </div>

    <div id="further-details" class="govuk-form-group govuk-details__text {{ 'js-hidden' if fields.legalProceedings.value != 'Yes' }}" >

        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ content.furtherDetails | safe }}</h3>
        <p class="govuk-hint">{{ content.youShouldInclude | safe }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ content.caseNumbers | safe }}</li>
            <li>{{ content.stillOngoing | safe}}</li>
            <li>{{ content.proceedingAreAbout | safe}}</li>
            <li>{{ content.namesInvolved | safe}}</li>
            <li>{{ content.courtNames | safe}}</li>
            <li>{{ content.datesBegan | safe}}</li>
            <li>{{ content.orderDetails | safe}}</li>
        </ul>

        <fieldset class="govuk-fieldset {{ 'govuk-form-group--error' if fields.legalProceedingsRelated.error }}">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold text">{{ content.proceedingsRelated | safe }}</legend>
            {{ errorsFor(fields.legalProceedingsRelated) }}
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input id="{{content.marriage}}"
                            class="govuk-checkboxes__input"
                            name="legalProceedingsRelated[]"
                            type="checkbox"
                            value="{{content.marriage}}"
                            {% for related in  fields.legalProceedingsRelated.value %}
                              {{ 'checked' if related === content.marriage }}
                            {% endfor %}/>
                    <label class="govuk-label govuk-checkboxes__label" for="{{content.marriage}}">
                      <span class="visually-hidden">{{ content.proceedingsRelated | safe }}</span> {{ content.marriage }}
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input id="{{content.children}}"
                            class="govuk-checkboxes__input"
                            name="legalProceedingsRelated[]"
                            type="checkbox"
                            value="{{content.children}}"
                            {% for related in  fields.legalProceedingsRelated.value %}
                              {{ 'checked' if related === content.children }}
                            {% endfor %}/>
                    <label class="govuk-label govuk-checkboxes__label" for="{{content.children}}">
                      <span class="visually-hidden">{{ content.proceedingsRelated | safe }}</span> {{ content.children }}
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input id="{{content.property}}"
                            class="govuk-checkboxes__input"
                            name="legalProceedingsRelated[]"
                            type="checkbox"
                            value="{{content.property}}"
                            {% for related in  fields.legalProceedingsRelated.value %}
                              {{ 'checked' if related === content.property }}
                            {% endfor %}/>
                    <label class="govuk-label govuk-checkboxes__label" for="{{content.property}}">
                      <span class="visually-hidden">{{ content.proceedingsRelated | safe }}</span> {{ content.property }}
                    </label>
                </div>

            </div>

            <br>

            {{ textArea(
                name='legalProceedingsDetails',
                field=fields.legalProceedingsDetails,
                label=content.caseDetailsInputTitle
            ) }}

        </fieldset>
    </div>
{% endblock %}