{% from "warning-text/macro.njk" import govukWarningText %}
{% extends "question.html" %}
{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block form %}

<p class="govuk-body">
    {% if fields.reasonForDivorceClaimingAdultery.value %}
    {{ content.introWhenClaimingAdultery }}
    {% else %}
    {{ content.introWhenNotClaimingAdultery }}
    {% endif %}
</p>

<p class="govuk-body">
    {{ content.infoAboutFees }}
</p>

{% if fields.reasonForDivorceClaiming5YearSeparation.value %}
{{ govukWarningText({
    text: content.warning5YearsSeparation | safe,
    iconFallbackText: content.warning
}) }}
{% endif %}

<div class="govuk-form-group {{ 'govuk-form-group--error' if fields.claimsCosts.error }}">
  <fieldset id="claimsCosts" class="govuk-fieldset">
      {{errorsFor(fields.claimsCosts)}}
      <legend class="govuk-fieldset__legend visually-hidden">{{ content.question | safe }}</legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item" data-target="{{'claim-costs'}}">
          <input id="yes"
                       class="govuk-radios__input"
                       type="radio"
                       name="claimsCosts"
                       value="Yes"
                       {{ checked(fields.claimsCosts.value, 'Yes') }}>
          <label for="yes" class="govuk-label govuk-radios__label">
             <span class="visually-hidden">{{ content.question | safe }}</span> {{content.yes | safe}}
          </label>
        </div>
        <div class="govuk-radios__item">
          <input id="no"
                       class="govuk-radios__input"
                       type="radio"
                       name="claimsCosts"
                       value="No"
                       {{ checked(fields.claimsCosts.value, 'No') }}>
          <label for="no" class="govuk-label govuk-radios__label">
             <span class="visually-hidden">{{ content.question | safe }}</span> {{content.no | safe}}
          </label>
        </div>
      </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-details__text {{ 'js-hidden' if fields.claimsCosts.value !== 'Yes'}} {{ 'govuk-form-group--error' if fields.claimsCostsFrom.error }}" id="claim-costs">
  {% if fields.reasonForDivorceClaimingAdultery.value and fields.reasonForDivorceAdulteryIsNamed.value == 'Yes' %}
    <fieldset id="claimsCostsFrom" class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          {{ content.whoCosts }}
      </legend>

      {{ errorsFor(fields.claimsCostsFrom) }}

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="respondent" name="claimsCostsFrom[]" type="checkbox" value="respondent" {% for claimsCostsFrom in fields.claimsCostsFrom.value %}{{ 'checked' if claimsCostsFrom === 'respondent' }}{% endfor %}>
          <label class="govuk-label govuk-checkboxes__label" for="respondent">
            {{ content.your }} {{ session.divorceWho }}
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="correspondent" name="claimsCostsFrom[]" type="checkbox" value="correspondent" {% for claimsCostsFrom in fields.claimsCostsFrom.value %}{{ 'checked' if claimsCostsFrom === 'correspondent' }}{% endfor %}>
          <label class="govuk-label govuk-checkboxes__label" for="correspondent">
            {{ content.theCorespondent | safe }}
          </label>
        </div>

      </div>
    </fieldset>
    <br>
    {%- endif -%}
    <p class="govuk-body">
      {%- if fields.helpWithFeesReferenceNumber.value -%}
       {{content.youHaveToPayFeeNow | safe}}
      {%- else -%}
        {{content.youHaveToPayFeeAppNow | safe }} {{content.youHaveToPayFeeNow | safe}}
      {%- endif -%}
    </p>
</div>

{% endblock %}

