{% extends "question.html" %}
{% block question %}
{{ content.question | safe }}
{% endblock %}

{% block form %}

<p class="text">
    {% if fields.reasonForDivorceClaimingAdultery.value %}
    {{ content.introWhenClaimingAdultery }}
    {% else %}
    {{ content.introWhenNotClaimingAdultery }}
    {% endif %}
</p>

<p class="text">
    {{ content.infoAboutFees }}
</p>

{% if fields.reasonForDivorceClaiming5YearSeparation.value %}
<p class="text">
<div class="notice">
    <em class="icon icon-important">
        <span class="visuallyhidden">{{ content.warning }}</span>
    </em>
    <strong class="text">
        {{ content.warning5YearsSeparation }}
    </strong>
</div>
</p>
{% endif %}

<fieldset id="claimsCosts" class="form-group inline {{ 'error' if fields.claimsCosts.error }}">
    {{errorsFor(fields.claimsCosts)}}
    <legend class="visually-hidden">{{ content.question | safe }}</legend>
    <div class="multiple-choice" data-target="{{'claim-costs'}}">
      <input id="yes"
                   type="radio"
                   name="claimsCosts"
                   value="Yes"
                   {{ checked(fields.claimsCosts.value, 'Yes') }}>
      <label for="yes" class="block-label">
         <span class="visually-hidden">{{ content.question | safe }}</span> {{content.yes | safe}}
      </label>
    </div>
    <div class="multiple-choice">
      <input id="no"
                   type="radio"
                   name="claimsCosts"
                   value="No"
                   {{ checked(fields.claimsCosts.value, 'No') }}>
      <label for="no" class="block-label">
         <span class="visually-hidden">{{ content.question | safe }}</span> {{content.no | safe}}
      </label>
    </div>
</fieldset>

<div class="{{ 'js-hidden' if fields.claimsCosts.value !== 'Yes'}} panel panel-border-narrow" id="claim-costs">
    {% if fields.reasonForDivorceClaimingAdultery.value and fields.reasonForDivorceAdulteryIsNamed.value == 'Yes' %}
    <fieldset id="claimsCostsFrom" class="form-group {{ 'error' if fields.claimsCostsFrom.error }}">
        <legend class="heading-medium">
            {{ content.whoCosts }}
        </legend>
        {{errorsFor(fields.claimsCostsFrom)}}
        <div class="multiple-choice">
          <input id="respondent"
                       name="claimsCostsFrom[]"
                       type="checkbox"
                       value="respondent"
                       {% for claimsCostsFrom in fields.claimsCostsFrom.value %}
                       {{ 'checked' if claimsCostsFrom === 'respondent' }}
                {% endfor %}/>
          <label class="block-label"
                 for="respondent">
              {{ content.your }} {{ session.divorceWho }}
          </label>
        </div>
        <div class="multiple-choice">
          <input id="correspondent"
                       name="claimsCostsFrom[]"
                       type="checkbox"
                       value="correspondent"
                       {% for claimsCostsFrom in fields.claimsCostsFrom.value %}
                       {{ 'checked' if claimsCostsFrom === 'correspondent' }}
                {% endfor %}/>
          <label class="block-label"
                 for="correspondent">
              {{ content.theCorespondent | safe }}
          </label>
        </div>
    </fieldset>
    {%- endif -%}
    <p class="text">
    {%- if fields.helpWithFeesReferenceNumber.value -%}
     {{content.youHaveToPayFeeNow | safe}}
    {%- else -%}
      {{content.youHaveToPayFeeAppNow | safe }} {{content.youHaveToPayFeeNow | safe}}
    {%- endif -%}
    </p>
</div>

{% endblock %}

